projects/max7219-matrix/nodered-flow-matrix3.json
[
  {
    "id": "tab_matrix3",
    "type": "tab",
    "label": "Matrix3 (Uhr+PV+Alerts)",
    "disabled": false,
    "info": "ESP8266 + MAX7219 64x8 (8 Module)\n\nLinke Haelfte (32px): Uhrzeit + PV (wie Matrix2)\nRechte Haelfte (32px): Benachrichtigungen nach Prioritaet\n\nBenachrichtigungsquellen werden ueber input_boolean Helfer\nin HA aktiviert/deaktiviert."
  },
  {
    "id": "m3_title",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "Matrix3: Uhr+PV | Benachrichtigungen (64x8)",
    "info": "",
    "x": 310,
    "y": 40,
    "wires": []
  },
  {
    "id": "m3_comment_data",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- DATEN SAMMELN ---",
    "info": "",
    "x": 180,
    "y": 100,
    "wires": []
  },
  {
    "id": "m3_pv_watch",
    "type": "server-state-changed",
    "z": "tab_matrix3",
    "name": "sensor.pv_leistung",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_leistung"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "m3_store_pv"
      ]
    ]
  },
  {
    "id": "m3_store_pv",
    "type": "function",
    "z": "tab_matrix3",
    "name": "PV W",
    "func": "flow.set('m3_pv_watts', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 160,
    "wires": []
  },
  {
    "id": "m3_energy_watch",
    "type": "server-state-changed",
    "z": "tab_matrix3",
    "name": "sensor.pv_energy_today",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_today"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 210,
    "wires": [
      [
        "m3_store_energy"
      ]
    ]
  },
  {
    "id": "m3_store_energy",
    "type": "function",
    "z": "tab_matrix3",
    "name": "kWh",
    "func": "flow.set('m3_daily_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 210,
    "wires": []
  },
  {
    "id": "m3_daily_meter_watch",
    "type": "server-state-changed",
    "z": "tab_matrix3",
    "name": "sensor.pv_energy_daily",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_daily"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "attributes",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 170,
    "y": 260,
    "wires": [
      [
        "m3_store_yesterday"
      ]
    ]
  },
  {
    "id": "m3_store_yesterday",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Vortag",
    "func": "var attrs = msg.attributes;\nif (attrs && attrs.new_state && attrs.new_state.attributes) {\n    var lp = parseFloat(attrs.new_state.attributes.last_period);\n    if (!isNaN(lp)) flow.set('m3_yesterday_kwh', lp);\n}",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 260,
    "wires": []
  },
  {
    "id": "m3_comment_alerts",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- BENACHRICHTIGUNGEN SAMMELN (alle 5s) ---",
    "info": "",
    "x": 280,
    "y": 330,
    "wires": []
  },
  {
    "id": "m3_inject_alerts",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Alle 5 Sekunden",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 380,
    "wires": [
      [
        "m3_collect_alerts"
      ]
    ]
  },
  {
    "id": "m3_collect_alerts",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Alerts nach Prioritaet sammeln",
    "func": "// Sammle alle aktiven Alerts nach Prioritaet\n// Max 4 Zeichen pro Alert (64px = 10 Zeichen total)\nvar alerts = [];\nvar ha = global.get('homeassistant');\nif (!ha || !ha.homeAssistant || !ha.homeAssistant.states) {\n    flow.set('m3_alerts', alerts);\n    return null;\n}\nvar states = ha.homeAssistant.states;\n\nfunction getState(id) {\n    return states[id] ? states[id].state : '';\n}\nfunction isOn(id) {\n    return getState(id) === 'on';\n}\nfunction isEnabled(id) {\n    return isOn('input_boolean.' + id);\n}\n\n// PRIO 1: KRITISCH\nif (isEnabled('matrix3_thw_alarm') && isOn('binary_sensor.divera_alarm_aktiv')) {\n    alerts.push('ALM!');\n}\nif (isEnabled('matrix3_internet_offline')) {\n    var inet = getState('binary_sensor.fritz_box_6591_cable_vodafone_connection');\n    if (inet === 'off') alerts.push('NNET');\n}\n\n// PRIO 2: HOCH\nif (isEnabled('matrix3_nina_warnung')) {\n    var nina = parseInt(getState('sensor.nina_munchen_warnungen_anzahl')) || 0;\n    if (nina > 0) {\n        var txt = getState('sensor.nina_munchen_warnung_aktuell') || 'NINA';\n        alerts.push(txt.substring(0, 4));\n    }\n}\nif (isEnabled('matrix3_dwd_wetter')) {\n    var dwd = parseInt(getState('sensor.dwd_munchen_warnungen')) || 0;\n    if (dwd > 0) alerts.push('UNWT');\n}\nif (isEnabled('matrix3_hochwasser')) {\n    var pegel = parseFloat(getState('sensor.pegel_isar_muenchen')) || 0;\n    if (pegel > 600) alerts.push('HCHW');\n}\nif (isEnabled('matrix3_thw_rueckmeldung') && isOn('binary_sensor.divera_ruckmeldung_fallig')) {\n    alerts.push('THW!');\n}\nif (isEnabled('matrix3_netzwerk')) {\n    var netz = getState('sensor.netzwerk_status');\n    if (netz && netz !== 'Alles OK' && netz !== 'unknown' && netz !== 'unavailable') {\n        alerts.push('NETZ');\n    }\n}\n\n// PRIO 3: MITTEL\nif (isEnabled('matrix3_petkit')) {\n    var petkit = getState('sensor.petkit_status');\n    if (petkit && petkit !== 'ok' && petkit !== 'unknown' && petkit !== 'unavailable') {\n        alerts.push('KATZ');\n    }\n}\nif (isEnabled('matrix3_meshtastic')) {\n    var lastMsg = getState('sensor.mesh_letzte_nachricht');\n    var lastTime = getState('sensor.mesh_letzte_nachricht_zeit');\n    if (lastMsg && lastTime) {\n        var msgAge = (Date.now() - new Date(lastTime).getTime()) / 60000;\n        if (msgAge < 30 && msgAge >= 0) {\n            alerts.push('MESH');\n        }\n    }\n}\nif (isEnabled('matrix3_mesh_batterie')) {\n    var bats = ['mesh_gw_battery','mesh_supreme_battery','mesh_deck_battery','mesh_otn_battery'];\n    for (var i = 0; i < bats.length; i++) {\n        var bat = parseFloat(getState('sensor.' + bats[i])) || 100;\n        if (bat < 20 && bat > 0) {\n            alerts.push('B' + Math.round(bat));\n            break;\n        }\n    }\n}\nif (isEnabled('matrix3_waschmaschine') && isOn('input_boolean.waschmaschine_warten')) {\n    alerts.push('WSCH');\n}\nif (isEnabled('matrix3_trockner') && isOn('input_boolean.trockner_warten')) {\n    alerts.push('TRCK');\n}\n\n// PRIO 4: NIEDRIG\nif (isEnabled('matrix3_tibber_teuer')) {\n    var price = getState('sensor.tibber_price_level');\n    if (price === 'VERY_EXPENSIVE') alerts.push('TEUR');\n}\nif (isEnabled('matrix3_tibber_guenstig')) {\n    var price2 = getState('sensor.tibber_price_level');\n    if (price2 === 'VERY_CHEAP') alerts.push('BIL!');\n}\n\nflow.set('m3_alerts', alerts);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 380,
    "wires": [
      [
        "m3_debug_alerts"
      ]
    ]
  },
  {
    "id": "m3_debug_alerts",
    "type": "debug",
    "z": "tab_matrix3",
    "name": "Alerts",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 380,
    "wires": []
  },
  {
    "id": "m3_comment_display",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- DISPLAY (jede Sekunde) ---",
    "info": "",
    "x": 220,
    "y": 460,
    "wires": []
  },
  {
    "id": "m3_inject",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Jede Sekunde",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 520,
    "wires": [
      [
        "m3_display_logic"
      ]
    ]
  },
  {
    "id": "m3_display_logic",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Links: Uhr/PV | Rechts: Alerts",
    "func": "var watts = flow.get('m3_pv_watts') || 0;\nvar dailyKwh = flow.get('m3_daily_kwh') || 0;\nvar yesterdayKwh = flow.get('m3_yesterday_kwh') || 0;\nvar flashUntil = flow.get('m3_show_pv_until') || 0;\nvar now = Date.now();\nvar left = '';\n\n// === LINKE HAELFTE: Uhr / PV (max 5 Zeichen) ===\nif (now < flashUntil) {\n    if (watts >= 15) {\n        left = Math.round(watts) + 'W';\n    } else {\n        var kwh = (dailyKwh < 0.05 && yesterdayKwh > 0.05) ? yesterdayKwh : dailyKwh;\n        left = kwh.toFixed(1) + 'kW';\n    }\n} else {\n    var d = new Date();\n    var h = String(d.getHours()).padStart(2, '0');\n    var m = String(d.getMinutes()).padStart(2, '0');\n    var sep = (d.getSeconds() % 2 === 0) ? ':' : ' ';\n    left = h + sep + m;\n}\n\n// Links auf 5 Zeichen padden\nwhile (left.length < 5) left = left + ' ';\n\n// === RECHTE HAELFTE: Benachrichtigungen (max 4 Zeichen) ===\nvar alerts = flow.get('m3_alerts') || [];\nvar right = '';\nif (alerts.length > 0) {\n    var idx = Math.floor(Date.now() / 3000) % alerts.length;\n    right = alerts[idx].substring(0, 4);\n}\n\n// Kombinieren: links(5) + Leerzeichen + rechts(max 4) = max 10 Zeichen\nif (right) {\n    msg.payload = left + ' ' + right;\n} else {\n    msg.payload = left;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('m3_pv_watts', 0);\nflow.set('m3_daily_kwh', 0);\nflow.set('m3_yesterday_kwh', 0);\nflow.set('m3_show_pv_until', 0);\nflow.set('m3_alerts', []);",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 520,
    "wires": [
      [
        "m3_mqtt_display",
        "m3_debug"
      ]
    ]
  },
  {
    "id": "m3_comment_flash",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- PV FLASH (60s Zyklus, 10s) ---",
    "info": "",
    "x": 230,
    "y": 610,
    "wires": []
  },
  {
    "id": "m3_inject_flash",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Alle 60 Sekunden",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "20",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 660,
    "wires": [
      [
        "m3_set_flash"
      ]
    ]
  },
  {
    "id": "m3_set_flash",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Flash 10s",
    "func": "flow.set('m3_show_pv_until', Date.now() + 10000);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 660,
    "wires": []
  },
  {
    "id": "m3_comment_dim",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- HELLIGKEIT ---",
    "info": "",
    "x": 170,
    "y": 740,
    "wires": []
  },
  {
    "id": "m3_dim_night",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "22:00 Dimmen",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 150,
    "y": 790,
    "wires": [
      [
        "m3_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m3_dim_day",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "07:00 Hell",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "x": 140,
    "y": 840,
    "wires": [
      [
        "m3_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m3_dim_startup",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Startup",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 890,
    "wires": [
      [
        "m3_dim_check"
      ]
    ]
  },
  {
    "id": "m3_dim_check",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Tag/Nacht",
    "func": "var h = new Date().getHours();\nmsg.payload = (h >= 22 || h < 7) ? 1 : 5;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 890,
    "wires": [
      [
        "m3_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m3_mqtt_dimmer",
    "type": "mqtt out",
    "z": "tab_matrix3",
    "name": "cmnd/Matrix3/DisplayDimmer",
    "topic": "cmnd/Matrix3/DisplayDimmer",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 430,
    "y": 790,
    "wires": []
  },
  {
    "id": "m3_mqtt_display",
    "type": "mqtt out",
    "z": "tab_matrix3",
    "name": "cmnd/Matrix3/DisplayText",
    "topic": "cmnd/Matrix3/DisplayText",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 700,
    "y": 500,
    "wires": []
  },
  {
    "id": "m3_debug",
    "type": "debug",
    "z": "tab_matrix3",
    "name": "Matrix3 Debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 690,
    "y": 560,
    "wires": []
  }
]