nodered/flows.json
[{"id":"tab_wifi","type":"tab","label":"WiFi Buttons (ESP32-S3)","disabled":false,"info":"ESP32-S3 WiFi Button im Bad - 3 physische Tasten + 2 RF-Tasten\nMQTT Topic: stat/wifibutton1/RESULT\n\nLogik: MQTT Event → Button/Aktion erkennen → input_select lesen → Script ausfuehren\n\nDie Zuordnung Button→Aktion kann im HA UI geaendert werden:\nEinstellungen > Geraete & Dienste > Helfer\n\nWICHTIG: Wenn dieser Flow aktiv ist, muessen die HA YAML-Automationen\nfuer die WiFi Buttons deaktiviert werden (sonst doppelte Ausfuehrung)."},{"id":"80ef547.fe1b7a8","type":"server","name":"Home Assistant","addon":true},{"id":"mqtt_nuc","type":"mqtt-broker","name":"Mosquitto NUC-HA","broker":"localhost","port":"1883","clientid":"nodered-wifibuttons","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true},{"id":"comment_title","type":"comment","z":"tab_wifi","name":"WiFi Button Automation (ESP32-S3 Bad)","info":"Importiert aus HA YAML (packages/wifi_buttons.yaml)\n\nHardware:\n- ESP32-S3 mit Tasmota Firmware\n- 3 physische Buttons: GPIO42, GPIO41, GPIO40\n- 2 RF-Tasten via SRX882S auf GPIO21\n- Unterstuetzt: SINGLE, DOUBLE, TRIPLE, HOLD\n\nButtons:\n- Taste 1 (GPIO42): Standard WLED/Licht\n- Taste 2 (GPIO41): Standard Alexa Radio\n- Taste 3 (GPIO40): Standard Alexa/Szenen\n- Funk 1 (RF 0xD26F68): Bad Licht An\n- Funk 2 (RF 0xDD21A8): Bad Licht Aus","x":270,"y":40,"wires":[]},{"id":"mqtt_in_btn","type":"mqtt in","z":"tab_wifi","name":"stat/wifibutton1/RESULT","topic":"stat/wifibutton1/RESULT","qos":"1","datatype":"json","broker":"mqtt_nuc","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":160,"wires":[["parse_event"]]},{"id":"parse_event","type":"function","z":"tab_wifi","name":"Parse Button Event","func":"// ESP32-S3 sendet: {\"ButtonN\":{\"Action\":\"SINGLE|DOUBLE|TRIPLE|HOLD\"}}\nvar data = msg.payload;\nvar button = null;\nvar action = null;\n\nfor (var i = 1; i <= 5; i++) {\n    var key = \"Button\" + i;\n    if (data[key]) {\n        button = i;\n        action = data[key].Action;\n        break;\n    }\n}\n\nif (!button) {\n    node.warn(\"Unbekanntes Payload: \" + JSON.stringify(data));\n    return null;\n}\n\n// Button-Namen\nvar names = {\n    1: \"Taste 1 (GPIO42)\",\n    2: \"Taste 2 (GPIO41)\",\n    3: \"Taste 3 (GPIO40)\",\n    4: \"Funk 1 (RF)\",\n    5: \"Funk 2 (RF)\"\n};\n\nmsg.button = button;\nmsg.action = action;\nmsg.buttonName = names[button];\n\n// input_select Entity-ID bestimmen\nvar map = {\n    \"1_SINGLE\": \"input_select.wifibutton1_button1_single_action\",\n    \"1_DOUBLE\": \"input_select.wifibutton1_button1_double_action\",\n    \"1_TRIPLE\": \"input_select.wifibutton1_button1_triple_action\",\n    \"2_SINGLE\": \"input_select.wifibutton1_button2_single_action\",\n    \"2_DOUBLE\": \"input_select.wifibutton1_button2_double_action\",\n    \"2_TRIPLE\": \"input_select.wifibutton1_button2_triple_action\",\n    \"3_SINGLE\": \"input_select.wifibutton1_button3_single_action\",\n    \"3_DOUBLE\": \"input_select.wifibutton1_button3_double_action\",\n    \"3_TRIPLE\": \"input_select.wifibutton1_button3_triple_action\",\n    \"4_SINGLE\": \"input_select.wifibutton1_funk1_action\",\n    \"5_SINGLE\": \"input_select.wifibutton1_funk2_action\"\n};\n\nvar key = button + \"_\" + action;\nmsg.entity_id = map[key];\n\nif (!msg.entity_id) {\n    node.warn(\"Keine Zuordnung: \" + key);\n    node.status({fill:\"yellow\", shape:\"ring\", text: names[button] + \" \" + action + \" (nicht zugeordnet)\"});\n    return null;\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text: names[button] + \" \" + action});\nmsg.topic = names[button] + \" \" + action;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":160,"wires":[["get_config","debug_event"]]},{"id":"debug_event","type":"debug","z":"tab_wifi","name":"Button Event","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"topic","statusType":"msg","x":440,"y":260,"wires":[]},{"id":"get_config","type":"api-current-state","z":"tab_wifi","name":"Aktion lesen (input_select)","server":"80ef547.fe1b7a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"selected_action","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":160,"wires":[["map_script"]]},{"id":"map_script","type":"function","z":"tab_wifi","name":"Aktion zu Script zuordnen","func":"// Gewaehlte Aktion aus input_select\nvar selectedAction = msg.selected_action || msg.payload;\n\n// Mapping: Dropdown-Wert -> HA Script Entity\nvar scriptMap = {\n    \"Bad Licht An\":              \"script.wifibtn_bad_licht_an\",\n    \"Bad Licht Aus\":             \"script.wifibtn_bad_licht_aus\",\n    \"WLED An\":                   \"script.wifibtn_wled_an\",\n    \"WLED Aus\":                  \"script.wifibtn_wled_aus\",\n    \"Alexa Bad Radio Bayern 1\":  \"script.wifibtn_alexa_bad_radio_bayern1\",\n    \"Alexa Bad Radio NDR2\":      \"script.wifibtn_alexa_bad_radio_ndr2\",\n    \"Alexa Bad Radio Aus\":       \"script.wifibtn_alexa_bad_radio_aus\",\n    \"Alexa Bad Spotify\":         \"script.wifibtn_alexa_bad_spotify\",\n    \"Szene Alles Aus\":           \"script.wifibtn_szene_alles_aus\",\n    \"Szene Gute Nacht\":          \"script.wifibtn_szene_gute_nacht\",\n    \"Szene Film\":                \"script.wifibtn_szene_film\",\n    \"Alexa Movie Radio\":         \"script.wifibtn_alexa_movie_radio\",\n    \"Nichts\":                    null\n};\n\nvar script = scriptMap[selectedAction];\n\nif (!script) {\n    if (selectedAction !== \"Nichts\") {\n        node.warn(\"Unbekannte Aktion: \" + selectedAction);\n    }\n    node.status({fill:\"grey\", shape:\"ring\", text: \"Nichts\"});\n    return null;\n}\n\nmsg.script_entity = script;\nmsg.payload = {\n    domain: \"script\",\n    service: \"turn_on\",\n    target: {\n        entity_id: [script]\n    }\n};\n\nvar info = msg.buttonName + \" -> \" + selectedAction;\nnode.status({fill:\"green\", shape:\"dot\", text: info});\nmsg.topic = info;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":160,"wires":[["call_script","debug_action"]]},{"id":"call_script","type":"api-call-service","z":"tab_wifi","name":"Script ausfuehren","server":"80ef547.fe1b7a8","version":7,"debugenabled":false,"floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"","service":"","x":1270,"y":160,"wires":[["debug_result"]]},{"id":"debug_action","type":"debug","z":"tab_wifi","name":"Ausgefuehrte Aktion","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"topic","statusType":"msg","x":1020,"y":260,"wires":[]},{"id":"debug_result","type":"debug","z":"tab_wifi","name":"Service Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":160,"wires":[]},{"id":"comment_test","type":"comment","z":"tab_wifi","name":"Test-Buttons (klicken zum Testen ohne echten Button)","info":"Diese Inject-Nodes simulieren Button-Events.\nKlicke auf den blauen Button links am Node um einen Test auszuloesen.\nDas Ergebnis erscheint im Debug-Panel rechts.","x":290,"y":340,"wires":[]},{"id":"inject_test_b1","type":"inject","z":"tab_wifi","name":"Test: Taste 1 Kurz","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Button1\":{\"Action\":\"SINGLE\"}}","payloadType":"json","x":170,"y":380,"wires":[["parse_event"]]},{"id":"inject_test_b2","type":"inject","z":"tab_wifi","name":"Test: Taste 2 Kurz","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Button2\":{\"Action\":\"SINGLE\"}}","payloadType":"json","x":170,"y":420,"wires":[["parse_event"]]},{"id":"inject_test_b3","type":"inject","z":"tab_wifi","name":"Test: Taste 3 Dreifach","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Button3\":{\"Action\":\"TRIPLE\"}}","payloadType":"json","x":180,"y":460,"wires":[["parse_event"]]},{"id":"inject_test_funk1","type":"inject","z":"tab_wifi","name":"Test: Funk-Taste 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Button4\":{\"Action\":\"SINGLE\"}}","payloadType":"json","x":170,"y":500,"wires":[["parse_event"]]},{"id":"comment_config","type":"comment","z":"tab_wifi","name":"Aktuelle Button-Belegung (Standard)","info":"Die Belegung wird ueber HA input_select Helper gesteuert.\nAenderbar im HA UI: Einstellungen > Geraete > Helfer\n\nTaste 1 (GPIO42) - Licht/WLED:\n  Kurz:     WLED An\n  Doppelt:  WLED Aus\n  Dreifach: Szene Alles Aus\n\nTaste 2 (GPIO41) - Alexa Radio:\n  Kurz:     Alexa Bad Radio Bayern 1\n  Doppelt:  Alexa Bad Radio Aus\n  Dreifach: Alexa Bad Radio NDR2\n\nTaste 3 (GPIO40) - Alexa/Szenen:\n  Kurz:     Alexa Bad Radio Bayern 1\n  Doppelt:  Alexa Bad Radio Aus\n  Dreifach: Alexa Movie Radio\n\nFunk 1 (RF 0xD26F68): Bad Licht An\nFunk 2 (RF 0xDD21A8): Bad Licht Aus","x":240,"y":580,"wires":[]},{"id":"comment_scripts","type":"comment","z":"tab_wifi","name":"Verfuegbare Scripts (in HA definiert)","info":"Script Entity                           | Aktion\n----------------------------------------|--------------------\nscript.wifibtn_bad_licht_an             | WLED2 auf 100%\nscript.wifibtn_bad_licht_aus            | WLED2 aus\nscript.wifibtn_wled_an                  | WLED2 an\nscript.wifibtn_wled_aus                 | WLED2 aus\nscript.wifibtn_alexa_bad_radio_bayern1  | Echo Bad: Bayern 1\nscript.wifibtn_alexa_bad_radio_ndr2     | Echo Bad: NDR 2\nscript.wifibtn_alexa_bad_radio_aus      | Echo Bad: Stop\nscript.wifibtn_alexa_bad_spotify        | Echo Bad: Spotify\nscript.wifibtn_szene_alles_aus          | WLED aus + WZ aus + Echo stop\nscript.wifibtn_szene_gute_nacht         | WLED 10% warm + Echo stop\nscript.wifibtn_szene_film               | WLED 5% + WZ aus\nscript.wifibtn_alexa_movie_radio        | Echo Bad: Movie Radio leise","x":720,"y":580,"wires":[]},{"id":"comment_warning","type":"comment","z":"tab_wifi","name":"HINWEIS: HA Automationen deaktivieren wenn dieser Flow aktiv ist!","info":"Die WiFi Button Automationen existieren auch als HA YAML Automationen\nin packages/wifi_buttons.yaml.\n\nWenn dieser Node-RED Flow aktiv ist UND die HA Automationen aktiv sind,\nwerden Aktionen DOPPELT ausgefuehrt!\n\nZum Deaktivieren in HA:\n  Einstellungen > Automatisierungen > Suche: WiFi Taste\n  Alle WiFi Taste Automationen deaktivieren (Toggle aus)\n\nAutomation IDs:\n  wifibutton_b1_single, wifibutton_b1_double, wifibutton_b1_triple\n  wifibutton_b2_single, wifibutton_b2_double, wifibutton_b2_triple\n  wifibutton_b3_single, wifibutton_b3_double, wifibutton_b3_triple\n  wifibutton_funk1, wifibutton_funk2","x":320,"y":660,"wires":[]}]