nodered/flow-song-info.json
[
    {
        "id": "flow_song_info",
        "type": "tab",
        "label": "Song-Info (Hitster)",
        "disabled": false,
        "info": "Erkennt Songwechsel auf allen Alexas, fragt MusicBrainz nach Erscheinungsjahr,\npubliziert per MQTT und optional Announce auf aktiven Alexas.\n\nAttribut-Mapping Alexa:\n- media_artist = Sendername (z.B. Bayern 1)\n- media_title = \"Artist: Titel\" (z.B. \"Nena: 99 Luftballons\")"
    },
    {
        "id": "comment_header_si",
        "type": "comment",
        "z": "flow_song_info",
        "name": "Song-Info (Hitster-Training) - 3 Alexas, je Toggle steuerbar",
        "info": "Echo Show: input_boolean.song_info_echo_show\nEcho Dot: input_boolean.song_info_echo_dot\nEcho Plus: input_boolean.song_info_echo_plus",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "n_state_changed",
        "type": "server-state-changed",
        "z": "flow_song_info",
        "name": "Alexa Song-Wechsel (alle 3)",
        "server": "80ef547.fe1b7a8",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "^media_player\\.marcus_echo_(show_8_2nd_gen|dot|plus)$",
        "entityIdType": "regex",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "playing",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 190,
        "y": 120,
        "wires": [["n_check_song"]]
    },
    {
        "id": "n_check_song",
        "type": "function",
        "z": "flow_song_info",
        "name": "Song-Wechsel pruefen & parsen",
        "func": "const attrs = msg.data.new_state.attributes || {};\nconst entityId = msg.data.entity_id;\nconst mediaTitle = (attrs.media_title || \"\").trim();\nconst sender = (attrs.media_artist || \"\").trim();\n\n// Muss Doppelpunkt enthalten (\"Artist: Titel\")\nif (!mediaTitle || !mediaTitle.includes(\":\")) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Kein Song: \" + mediaTitle});\n    return null;\n}\n\n// Artist und Titel aus media_title parsen\nconst colonIdx = mediaTitle.indexOf(\":\");\nconst artist = mediaTitle.substring(0, colonIdx).trim();\nconst title = mediaTitle.substring(colonIdx + 1).trim();\n\nif (!artist || !title) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Leer: \" + mediaTitle});\n    return null;\n}\n\nconst titleLower = title.toLowerCase();\nconst artistLower = artist.toLowerCase();\n\n// Kein-Song-Filter: Programmhinweise, E-Mails, URLs, Telefonnummern\nconst noSongPatterns = [\n    /^(e-?mail|telefon|tel|fax|sms|whatsapp|web|www|http|studio|redaktion|hotline)$/i,\n    /@/,\n    /^\\d+$/,\n    /\\.de$|\\.com$|\\.org$/i,\n    /^\\+?\\d[\\d\\s\\-\\/]{6,}$/\n];\nfor (const pat of noSongPatterns) {\n    if (pat.test(artist) || pat.test(title)) {\n        node.status({fill:\"grey\", shape:\"ring\", text:\"Kein Song: \" + mediaTitle});\n        return null;\n    }\n}\n\n// Senderfilter\nconst senderFilter = [\n    \"bayern 1\", \"br1\", \"bayern 3\", \"br3\",\n    \"klassik radio\", \"klassik radio movie\",\n    \"ndr 2\", \"ndr2\", \"swr3\", \"wdr 2\", \"wdr2\",\n    \"antenne bayern\", \"nachrichten\",\n    \"verkehr\", \"wetter\", \"werbung\"\n];\nfor (const s of senderFilter) {\n    if (artistLower === s || titleLower === s) {\n        node.status({fill:\"grey\", shape:\"ring\", text:\"Sender: \" + mediaTitle});\n        return null;\n    }\n}\n\n// Artist == Title\nif (titleLower === artistLower) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Artist=Title: \" + mediaTitle});\n    return null;\n}\n\n// Duplikat-Filter (pro Alexa getrennt)\nconst lastKey = flow.get('last_song_' + entityId) || \"\";\nconst currentKey = artist + \" - \" + title;\nif (currentKey === lastKey) {\n    node.status({fill:\"grey\", shape:\"dot\", text:\"Duplikat: \" + currentKey});\n    return null;\n}\n\nflow.set('last_song_' + entityId, currentKey);\n\nmsg.song = {\n    artist: artist,\n    title: title,\n    source: sender || \"Unbekannt\",\n    entity_id: entityId\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text: entityId.split('.')[1].substring(0,10) + \": \" + currentKey});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 120,
        "wires": [["n_delay", "n_debug_song"]]
    },
    {
        "id": "n_debug_song",
        "type": "debug",
        "z": "flow_song_info",
        "name": "Song erkannt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "song",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "n_delay",
        "type": "delay",
        "z": "flow_song_info",
        "name": "Rate-Limit 1/s",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": "",
        "outputs": 1,
        "x": 720,
        "y": 120,
        "wires": [["n_set_url"]]
    },
    {
        "id": "n_set_url",
        "type": "function",
        "z": "flow_song_info",
        "name": "MusicBrainz URL bauen",
        "func": "const title = encodeURIComponent(msg.song.title);\nconst artist = encodeURIComponent(msg.song.artist);\nmsg.url = `https://musicbrainz.org/ws/2/recording/?query=recording:\"${title}\"+AND+artist:\"${artist}\"&fmt=json&limit=1`;\nnode.status({fill:\"yellow\", shape:\"ring\", text:\"Suche: \" + msg.song.artist + \" - \" + msg.song.title});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [["n_musicbrainz"]]
    },
    {
        "id": "n_musicbrainz",
        "type": "http request",
        "z": "flow_song_info",
        "name": "MusicBrainz API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "User-Agent",
                "valueType": "other",
                "valueValue": "HA-HitsterHelper/1.0 (your@email.example)"
            },
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 200,
        "y": 300,
        "wires": [["n_extract_year"]]
    },
    {
        "id": "n_extract_year",
        "type": "function",
        "z": "flow_song_info",
        "name": "Jahr extrahieren + Payload",
        "func": "let year = \"?\";\n\ntry {\n    const recordings = msg.payload.recordings || [];\n    if (recordings.length > 0) {\n        const rec = recordings[0];\n        const dateStr = rec[\"first-release-date\"] || \"\";\n        if (dateStr.length >= 4) {\n            year = dateStr.substring(0, 4);\n        }\n    }\n} catch(e) {\n    node.warn(\"MusicBrainz Parse-Fehler: \" + e.message);\n}\n\nconst now = new Date().toISOString();\n\nmsg.payload = {\n    artist: msg.song.artist,\n    title: msg.song.title,\n    year: year,\n    source: msg.song.source,\n    entity_id: msg.song.entity_id,\n    timestamp: now\n};\n\nconst display = msg.song.artist + \" - \" + msg.song.title + \" (\" + year + \")\";\nnode.status({fill: year !== \"?\" ? \"blue\" : \"red\", shape:\"dot\", text: display});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [["n_mqtt_out", "n_build_announce", "n_debug_result"]]
    },
    {
        "id": "n_debug_result",
        "type": "debug",
        "z": "flow_song_info",
        "name": "Ergebnis",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "n_mqtt_out",
        "type": "mqtt out",
        "z": "flow_song_info",
        "name": "MQTT song-info/current",
        "topic": "song-info/current",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_nuc",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "n_build_announce",
        "type": "function",
        "z": "flow_song_info",
        "name": "Announce-Targets bestimmen",
        "func": "// Mapping: Alexa Entity -> Toggle\nconst alexaToggleMap = {\n    \"media_player.marcus_echo_show_8_2nd_gen\": \"input_boolean.song_info_echo_show\",\n    \"media_player.marcus_echo_dot\": \"input_boolean.song_info_echo_dot\",\n    \"media_player.marcus_echo_plus\": \"input_boolean.song_info_echo_plus\"\n};\n\nconst p = msg.payload;\nconst sourceEntity = p.entity_id;\nconst message = p.artist + \" - \" + p.title + \" (\" + p.year + \")\";\n\n// Sammle alle Alexas deren Toggle an ist\nconst targets = [];\nfor (const [alexa, toggle] of Object.entries(alexaToggleMap)) {\n    const state = global.get('homeassistant.homeAssistant.states[\"' + toggle + '\"].state');\n    if (state === \"on\") {\n        targets.push(alexa);\n    }\n}\n\nif (targets.length === 0) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Keine Alexa aktiv\"});\n    return null;\n}\n\nmsg.announce = {\n    message: message,\n    targets: targets,\n    data: { type: \"announce\", method: \"all\" }\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text: targets.length + \"x: \" + message});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [["n_announce"]]
    },
    {
        "id": "n_announce",
        "type": "api-call-service",
        "z": "flow_song_info",
        "name": "Alexa Announce",
        "server": "80ef547.fe1b7a8",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "alexa_media",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": announce.message, \"target\": announce.targets, \"data\": announce.data}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1040,
        "y": 320,
        "wires": [[]]
    }
]
