nodered/flows.json
[
  {
    "id": "tab_wifi",
    "type": "tab",
    "label": "WiFi Buttons (ESP32-S3)",
    "disabled": false,
    "info": "ESP32-S3 WiFi Button im Bad - 3 physische Tasten + 2 RF-Tasten\nMQTT Topic: stat/wifibutton1/RESULT\n\nLogik: MQTT Event → Button/Aktion erkennen → input_select lesen → Script ausfuehren\n\nDie Zuordnung Button→Aktion kann im HA UI geaendert werden:\nEinstellungen > Geraete & Dienste > Helfer\n\nWICHTIG: Wenn dieser Flow aktiv ist, muessen die HA YAML-Automationen\nfuer die WiFi Buttons deaktiviert werden (sonst doppelte Ausfuehrung)."
  },
  {
    "id": "tab_led_matrix2",
    "type": "tab",
    "label": "LED Matrix 2 (Bad)",
    "disabled": false,
    "info": "ESP8266 + MAX7219 8x64 LED Matrix im Bad\n\nRote Haelfte (8x32): Uhrzeit\nBlaue Haelfte (8x32): PV-Leistung\n\nESPHome empfaengt Text per MQTT:\n- led-matrix2/display/time -> Rote LEDs\n- led-matrix2/display/pv -> Blaue LEDs\n\nESP IP: 10.10.12.XX (Bad:IoT VLAN 12)"
  },
  {
    "id": "comment_title",
    "type": "comment",
    "z": "tab_wifi",
    "name": "WiFi Button Automation (ESP32-S3 Bad)",
    "info": "Importiert aus HA YAML (packages/wifi_buttons.yaml)\n\nHardware:\n- ESP32-S3 mit Tasmota Firmware\n- 3 physische Buttons: GPIO42, GPIO41, GPIO40\n- 2 RF-Tasten via SRX882S auf GPIO21\n- Unterstuetzt: SINGLE, DOUBLE, TRIPLE, HOLD\n\nButtons:\n- Taste 1 (GPIO42): Standard WLED/Licht\n- Taste 2 (GPIO41): Standard Alexa Radio\n- Taste 3 (GPIO40): Standard Alexa/Szenen\n- Funk 1 (RF 0xD26F68): Bad Licht An\n- Funk 2 (RF 0xDD21A8): Bad Licht Aus",
    "x": 270,
    "y": 40,
    "wires": []
  },
  {
    "id": "mqtt_in_btn",
    "type": "mqtt in",
    "z": "tab_wifi",
    "name": "stat/wifibutton1/RESULT",
    "topic": "stat/wifibutton1/RESULT",
    "qos": "1",
    "datatype": "json",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 160,
    "wires": [
      [
        "parse_event"
      ]
    ]
  },
  {
    "id": "parse_event",
    "type": "function",
    "z": "tab_wifi",
    "name": "Parse Button Event",
    "func": "// ESP32-S3 sendet: {\"ButtonN\":{\"Action\":\"SINGLE|DOUBLE|TRIPLE|HOLD\"}}\nvar data = msg.payload;\nvar button = null;\nvar action = null;\n\nfor (var i = 1; i <= 5; i++) {\n    var key = \"Button\" + i;\n    if (data[key]) {\n        button = i;\n        action = data[key].Action;\n        break;\n    }\n}\n\nif (!button) {\n    node.warn(\"Unbekanntes Payload: \" + JSON.stringify(data));\n    return null;\n}\n\n// Button-Namen\nvar names = {\n    1: \"Taste 1 (GPIO42)\",\n    2: \"Taste 2 (GPIO41)\",\n    3: \"Taste 3 (GPIO40)\",\n    4: \"Funk 1 (RF)\",\n    5: \"Funk 2 (RF)\"\n};\n\nmsg.button = button;\nmsg.action = action;\nmsg.buttonName = names[button];\n\n// input_select Entity-ID bestimmen\nvar map = {\n    \"1_SINGLE\": \"input_select.wifibutton1_button1_single_action\",\n    \"1_DOUBLE\": \"input_select.wifibutton1_button1_double_action\",\n    \"1_TRIPLE\": \"input_select.wifibutton1_button1_triple_action\",\n    \"2_SINGLE\": \"input_select.wifibutton1_button2_single_action\",\n    \"2_DOUBLE\": \"input_select.wifibutton1_button2_double_action\",\n    \"2_TRIPLE\": \"input_select.wifibutton1_button2_triple_action\",\n    \"3_SINGLE\": \"input_select.wifibutton1_button3_single_action\",\n    \"3_DOUBLE\": \"input_select.wifibutton1_button3_double_action\",\n    \"3_TRIPLE\": \"input_select.wifibutton1_button3_triple_action\",\n    \"4_SINGLE\": \"input_select.wifibutton1_funk1_action\",\n    \"5_SINGLE\": \"input_select.wifibutton1_funk2_action\"\n};\n\nvar key = button + \"_\" + action;\nmsg.entity_id = map[key];\n\nif (!msg.entity_id) {\n    node.warn(\"Keine Zuordnung: \" + key);\n    node.status({fill:\"yellow\", shape:\"ring\", text: names[button] + \" \" + action + \" (nicht zugeordnet)\"});\n    return null;\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text: names[button] + \" \" + action});\nmsg.topic = names[button] + \" \" + action;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 160,
    "wires": [
      [
        "get_config",
        "debug_event"
      ]
    ]
  },
  {
    "id": "debug_event",
    "type": "debug",
    "z": "tab_wifi",
    "name": "Button Event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "topic",
    "targetType": "msg",
    "statusVal": "topic",
    "statusType": "msg",
    "x": 440,
    "y": 260,
    "wires": []
  },
  {
    "id": "get_config",
    "type": "api-current-state",
    "z": "tab_wifi",
    "name": "Aktion lesen (input_select)",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{entity_id}}",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "selected_action",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 700,
    "y": 160,
    "wires": [
      [
        "map_script"
      ]
    ]
  },
  {
    "id": "map_script",
    "type": "function",
    "z": "tab_wifi",
    "name": "Aktion zu Script zuordnen",
    "func": "// Gewaehlte Aktion aus input_select\nvar selectedAction = msg.selected_action || msg.payload;\n\n// Mapping: Dropdown-Wert -> HA Script Entity\nvar scriptMap = {\n    \"Licht WZ Toggle\":           \"script.wifibtn_licht_wz_toggle\",\n    \"Bad Licht An\":              \"script.wifibtn_bad_licht_an\",\n    \"Bad Licht Aus\":             \"script.wifibtn_bad_licht_aus\",\n    \"WLED An\":                   \"script.wifibtn_wled_an\",\n    \"WLED Aus\":                  \"script.wifibtn_wled_aus\",\n    \"Alexa Bad Radio Bayern 1\":  \"script.wifibtn_alexa_bad_radio_bayern1\",\n    \"Alexa Bad Radio NDR2\":      \"script.wifibtn_alexa_bad_radio_ndr2\",\n    \"Alexa Bad Radio Aus\":       \"script.wifibtn_alexa_bad_radio_aus\",\n    \"Alexa Bad Spotify\":         \"script.wifibtn_alexa_bad_spotify\",\n    \"Szene Alles Aus\":           \"script.wifibtn_szene_alles_aus\",\n    \"Szene Gute Nacht\":          \"script.wifibtn_szene_gute_nacht\",\n    \"Szene Film\":                \"script.wifibtn_szene_film\",\n    \"Alexa Movie Radio\":         \"script.wifibtn_alexa_movie_radio\",\n    \"Nichts\":                    null\n};\n\nvar script = scriptMap[selectedAction];\n\nif (!script) {\n    if (selectedAction !== \"Nichts\") {\n        node.warn(\"Unbekannte Aktion: \" + selectedAction);\n    }\n    node.status({fill:\"grey\", shape:\"ring\", text: \"Nichts\"});\n    return null;\n}\n\nmsg.script_entity = script;\nmsg.payload = {\n    domain: \"script\",\n    service: \"turn_on\",\n    target: {\n        entity_id: [script]\n    }\n};\n\nvar info = msg.buttonName + \" -> \" + selectedAction;\nnode.status({fill:\"green\", shape:\"dot\", text: info});\nmsg.topic = info;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1000,
    "y": 160,
    "wires": [
      [
        "call_script",
        "debug_action"
      ]
    ]
  },
  {
    "id": "call_script",
    "type": "api-call-service",
    "z": "tab_wifi",
    "name": "Script ausfuehren",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 1270,
    "y": 160,
    "wires": [
      [
        "debug_result"
      ]
    ]
  },
  {
    "id": "debug_action",
    "type": "debug",
    "z": "tab_wifi",
    "name": "Ausgefuehrte Aktion",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "topic",
    "targetType": "msg",
    "statusVal": "topic",
    "statusType": "msg",
    "x": 1020,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug_result",
    "type": "debug",
    "z": "tab_wifi",
    "name": "Service Result",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1470,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment_test",
    "type": "comment",
    "z": "tab_wifi",
    "name": "Test-Buttons (klicken zum Testen ohne echten Button)",
    "info": "Diese Inject-Nodes simulieren Button-Events.\nKlicke auf den blauen Button links am Node um einen Test auszuloesen.\nDas Ergebnis erscheint im Debug-Panel rechts.",
    "x": 290,
    "y": 340,
    "wires": []
  },
  {
    "id": "inject_test_b1",
    "type": "inject",
    "z": "tab_wifi",
    "name": "Test: Taste 1 Kurz",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"Button1\":{\"Action\":\"SINGLE\"}}",
    "payloadType": "json",
    "x": 170,
    "y": 380,
    "wires": [
      [
        "parse_event"
      ]
    ]
  },
  {
    "id": "inject_test_b2",
    "type": "inject",
    "z": "tab_wifi",
    "name": "Test: Taste 2 Kurz",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"Button2\":{\"Action\":\"SINGLE\"}}",
    "payloadType": "json",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "parse_event"
      ]
    ]
  },
  {
    "id": "inject_test_b3",
    "type": "inject",
    "z": "tab_wifi",
    "name": "Test: Taste 3 Dreifach",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"Button3\":{\"Action\":\"TRIPLE\"}}",
    "payloadType": "json",
    "x": 180,
    "y": 460,
    "wires": [
      [
        "parse_event"
      ]
    ]
  },
  {
    "id": "inject_test_funk1",
    "type": "inject",
    "z": "tab_wifi",
    "name": "Test: Funk-Taste 1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"Button4\":{\"Action\":\"SINGLE\"}}",
    "payloadType": "json",
    "x": 170,
    "y": 500,
    "wires": [
      [
        "parse_event"
      ]
    ]
  },
  {
    "id": "comment_config",
    "type": "comment",
    "z": "tab_wifi",
    "name": "Aktuelle Button-Belegung (Standard)",
    "info": "Die Belegung wird ueber HA input_select Helper gesteuert.\nAenderbar im HA UI: Einstellungen > Geraete > Helfer\n\nTaste 1 (GPIO42) - Licht/WLED:\n  Kurz:     WLED An\n  Doppelt:  WLED Aus\n  Dreifach: Szene Alles Aus\n\nTaste 2 (GPIO41) - Alexa Radio:\n  Kurz:     Alexa Bad Radio Bayern 1\n  Doppelt:  Alexa Bad Radio Aus\n  Dreifach: Alexa Bad Radio NDR2\n\nTaste 3 (GPIO40) - Alexa/Szenen:\n  Kurz:     Alexa Bad Radio Bayern 1\n  Doppelt:  Alexa Bad Radio Aus\n  Dreifach: Alexa Movie Radio\n\nFunk 1 (RF 0xD26F68): Bad Licht An\nFunk 2 (RF 0xDD21A8): Bad Licht Aus",
    "x": 240,
    "y": 580,
    "wires": []
  },
  {
    "id": "comment_scripts",
    "type": "comment",
    "z": "tab_wifi",
    "name": "Verfuegbare Scripts (in HA definiert)",
    "info": "Script Entity                           | Aktion\n----------------------------------------|--------------------\nscript.wifibtn_bad_licht_an             | WLED2 auf 100%\nscript.wifibtn_bad_licht_aus            | WLED2 aus\nscript.wifibtn_wled_an                  | WLED2 an\nscript.wifibtn_wled_aus                 | WLED2 aus\nscript.wifibtn_alexa_bad_radio_bayern1  | Echo Bad: Bayern 1\nscript.wifibtn_alexa_bad_radio_ndr2     | Echo Bad: NDR 2\nscript.wifibtn_alexa_bad_radio_aus      | Echo Bad: Stop\nscript.wifibtn_alexa_bad_spotify        | Echo Bad: Spotify\nscript.wifibtn_szene_alles_aus          | WLED aus + WZ aus + Echo stop\nscript.wifibtn_szene_gute_nacht         | WLED 10% warm + Echo stop\nscript.wifibtn_szene_film               | WLED 5% + WZ aus\nscript.wifibtn_alexa_movie_radio        | Echo Bad: Movie Radio leise",
    "x": 720,
    "y": 580,
    "wires": []
  },
  {
    "id": "comment_warning",
    "type": "comment",
    "z": "tab_wifi",
    "name": "HINWEIS: HA Automationen deaktivieren wenn dieser Flow aktiv ist!",
    "info": "Die WiFi Button Automationen existieren auch als HA YAML Automationen\nin packages/wifi_buttons.yaml.\n\nWenn dieser Node-RED Flow aktiv ist UND die HA Automationen aktiv sind,\nwerden Aktionen DOPPELT ausgefuehrt!\n\nZum Deaktivieren in HA:\n  Einstellungen > Automatisierungen > Suche: WiFi Taste\n  Alle WiFi Taste Automationen deaktivieren (Toggle aus)\n\nAutomation IDs:\n  wifibutton_b1_single, wifibutton_b1_double, wifibutton_b1_triple\n  wifibutton_b2_single, wifibutton_b2_double, wifibutton_b2_triple\n  wifibutton_b3_single, wifibutton_b3_double, wifibutton_b3_triple\n  wifibutton_funk1, wifibutton_funk2",
    "x": 320,
    "y": 660,
    "wires": []
  },
  {
    "id": "lm2_comment_time",
    "type": "comment",
    "z": "tab_led_matrix2",
    "name": "UHRZEIT -> Rote LEDs (links 8x32)",
    "info": "Jede Sekunde wird die aktuelle Uhrzeit als HH:MM\nper MQTT an die rote LED-Haelfte gesendet.\n\nTopic: led-matrix2/display/time",
    "x": 250,
    "y": 40,
    "wires": []
  },
  {
    "id": "lm2_inject_time",
    "type": "inject",
    "z": "tab_led_matrix2",
    "name": "Jede Sekunde",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 120,
    "wires": [
      [
        "lm2_format_time"
      ]
    ]
  },
  {
    "id": "lm2_format_time",
    "type": "function",
    "z": "tab_led_matrix2",
    "name": "Format HH:MM",
    "func": "// Aktuelle Uhrzeit als HH:MM formatieren\nvar now = new Date();\nvar h = String(now.getHours()).padStart(2, '0');\nvar m = String(now.getMinutes()).padStart(2, '0');\nmsg.payload = h + ':' + m;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 120,
    "wires": [
      [
        "lm2_mqtt_time",
        "lm2_debug_time"
      ]
    ]
  },
  {
    "id": "lm2_mqtt_time",
    "type": "mqtt out",
    "z": "tab_led_matrix2",
    "name": "MQTT: display/time",
    "topic": "led-matrix2/display/time",
    "qos": "0",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 590,
    "y": 120,
    "wires": []
  },
  {
    "id": "lm2_debug_time",
    "type": "debug",
    "z": "tab_led_matrix2",
    "name": "Uhrzeit",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 560,
    "y": 180,
    "wires": []
  },
  {
    "id": "lm2_comment_pv",
    "type": "comment",
    "z": "tab_led_matrix2",
    "name": "PV-LEISTUNG -> Blaue LEDs (rechts 8x32)",
    "info": "Wenn sich sensor.pv_leistung in HA aendert,\nwird der Wert formatiert und per MQTT\nan die blaue LED-Haelfte gesendet.\n\nTopic: led-matrix2/display/pv\n\nFormat:\n- Unter 1000W: z.B. '420W'\n- Ab 1000W: z.B. '1.2kW'",
    "x": 270,
    "y": 280,
    "wires": []
  },
  {
    "id": "lm2_ha_pv",
    "type": "server-state-changed",
    "z": "tab_led_matrix2",
    "name": "sensor.pv_leistung",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_leistung"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 170,
    "y": 360,
    "wires": [
      [
        "lm2_format_pv"
      ]
    ]
  },
  {
    "id": "lm2_format_pv",
    "type": "function",
    "z": "tab_led_matrix2",
    "name": "Format PV Watt",
    "func": "// PV-Leistung formatieren\nvar watts = parseFloat(msg.payload) || 0;\n\nif (watts >= 1000) {\n    // Ab 1kW: '1.2kW' Format\n    msg.payload = (watts / 1000).toFixed(1) + 'kW';\n} else {\n    // Unter 1kW: '420W' Format\n    msg.payload = Math.round(watts) + 'W';\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 360,
    "wires": [
      [
        "lm2_mqtt_pv",
        "lm2_debug_pv"
      ]
    ]
  },
  {
    "id": "lm2_mqtt_pv",
    "type": "mqtt out",
    "z": "tab_led_matrix2",
    "name": "MQTT: display/pv",
    "topic": "led-matrix2/display/pv",
    "qos": "0",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 590,
    "y": 360,
    "wires": []
  },
  {
    "id": "lm2_debug_pv",
    "type": "debug",
    "z": "tab_led_matrix2",
    "name": "PV Leistung",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 570,
    "y": 420,
    "wires": []
  },
  {
    "id": "lm2_comment_info",
    "type": "comment",
    "z": "tab_led_matrix2",
    "name": "Erweiterungsideen",
    "info": "Du kannst diesen Flow leicht erweitern:\n\n1. Weitere Sensoren anzeigen:\n   - Neuen HA-State Node hinzufuegen\n   - Format-Function anpassen\n   - An MQTT Topic publizieren\n\n2. Wechselanzeige (abwechselnd verschiedene Werte):\n   - Mehrere Inject-Nodes mit verschiedenen Intervallen\n   - Switch-Node zum Umschalten\n\n3. Helligkeit steuern:\n   - MQTT publish an 'led-matrix2/number/intensity/command'\n   - Wert 0-15\n\n4. Animationen:\n   - Scrollenden Text per setTimeout in Function-Node",
    "x": 160,
    "y": 500,
    "wires": []
  },
  {
    "id": "tab_tibber_ampel",
    "type": "tab",
    "label": "Tibber Ampel",
    "disabled": false,
    "info": "Strompreis-Ampel: ESP8266 mit Tasmota\n3 LEDs (Rot/Gelb/Gruen) zeigen den aktuellen Tibber Preis-Status.\n\nSensor: sensor.tibber_preis_status (guenstig/normal/teuer)\nMQTT Topic: cmnd/tibber-ampel/POWER1 (Rot), POWER2 (Gelb), POWER3 (Gruen)\n\nESP IP: 10.10.12.XX (Bad:IoT VLAN 12)"
  },
  {
    "id": "ampel_comment_title",
    "type": "comment",
    "z": "tab_tibber_ampel",
    "name": "Tibber Strompreis-Ampel (Tasmota ESP8266)",
    "info": "Steuert eine 3-Farben LED-Ampel basierend auf dem Tibber Strompreis.\n\nHardware:\n- ESP8266 mit Tasmota 15.2\n- GPIO12 = Rot (Relay1/POWER1)\n- GPIO13 = Gelb (Relay2/POWER2)\n- GPIO15 = Gruen (Relay3/POWER3)\n\nLogik:\n- guenstig -> Gruen an, Rest aus\n- normal -> Gelb an, Rest aus\n- teuer -> Rot an, Rest aus",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "ampel_ha_preis",
    "type": "server-state-changed",
    "z": "tab_tibber_ampel",
    "name": "Tibber Preis Status",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.tibber_preis_status"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "preis_status",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "ampel_logic"
      ]
    ]
  },
  {
    "id": "ampel_logic",
    "type": "function",
    "z": "tab_tibber_ampel",
    "name": "Ampel-Logik",
    "func": "// Tibber Preis-Status zu LED-Steuerung\n// Status: günstig / normal / teuer\n// Blinken: wenn binary_sensor.paule_best_price_period == on (08-22 Uhr)\n// Peak: wenn binary_sensor.paule_peak_price_period == on -> Rot zusätzlich AN\n\nvar ha = global.get('homeassistant');\nvar states = (ha && ha.homeAssistant && ha.homeAssistant.states) || {};\n\nfunction getState(id) {\n    return states[id] ? states[id].state : '';\n}\n\nvar status = getState('sensor.tibber_preis_status');\nvar bestPrice = getState('binary_sensor.paule_best_price_period');\nvar peakPrice = getState('binary_sensor.paule_peak_price_period');\n\n// Zeitfenster 08:00 - 22:00 prüfen\nvar hour = new Date().getHours();\nvar inTimeWindow = (hour >= 8 && hour < 22);\n\n// Blink-Modus: günstigste Periode UND im Zeitfenster\nvar shouldBlink = (bestPrice === 'on' && inTimeWindow);\n\n// Peak-Modus: teuerste Periode aktiv -> Rot zusätzlich\nvar isPeak = (peakPrice === 'on');\n\nvar rot = \"OFF\";\nvar gelb = \"OFF\";\nvar gruen = \"OFF\";\nvar label = \"?\";\n\n// ON oder BLINK je nach günstigster Periode\nvar onCmd = shouldBlink ? \"BLINK\" : \"ON\";\n\nswitch(status) {\n    case \"günstig\":\n        gruen = onCmd;\n        label = \"GRUEN\" + (shouldBlink ? \" ★BLINK★\" : \"\");\n        break;\n    case \"normal\":\n        gelb = onCmd;\n        label = \"GELB\" + (shouldBlink ? \" ★BLINK★\" : \"\");\n        break;\n    case \"teuer\":\n        rot = onCmd;\n        label = \"ROT\" + (shouldBlink ? \" ★BLINK★\" : \"\");\n        break;\n    default:\n        gelb = onCmd;\n        label = \"GELB (unbekannt: \" + status + \")\";\n}\n\n// Peak-Preisperiode: Rot IMMER zusätzlich einschalten (als Warnung)\nif (isPeak && rot === \"OFF\") {\n    rot = \"ON\";\n    label += \" +ROT(Peak)\";\n}\n\nvar fill = gruen !== \"OFF\" ? \"green\" : rot !== \"OFF\" ? \"red\" : \"yellow\";\nvar shape = shouldBlink ? \"ring\" : \"dot\";\nnode.status({fill: fill, shape: shape, text: label});\n\nreturn [\n    {payload: rot},\n    {payload: gelb},\n    {payload: gruen}\n];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 160,
    "wires": [
      [
        "ampel_mqtt_rot",
        "ampel_debug"
      ],
      [
        "ampel_mqtt_gelb",
        "ampel_debug"
      ],
      [
        "ampel_mqtt_gruen",
        "ampel_debug"
      ]
    ],
    "outputLabels": [
      "Rot",
      "Gelb",
      "Gruen"
    ]
  },
  {
    "id": "ampel_mqtt_rot",
    "type": "mqtt out",
    "z": "tab_tibber_ampel",
    "name": "POWER1 (Rot)",
    "topic": "cmnd/tibber-ampel/POWER1",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "ampel_mqtt_gelb",
    "type": "mqtt out",
    "z": "tab_tibber_ampel",
    "name": "POWER2 (Gelb)",
    "topic": "cmnd/tibber-ampel/POWER2",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "ampel_mqtt_gruen",
    "type": "mqtt out",
    "z": "tab_tibber_ampel",
    "name": "POWER3 (Gruen)",
    "topic": "cmnd/tibber-ampel/POWER3",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 660,
    "y": 200,
    "wires": []
  },
  {
    "id": "ampel_debug",
    "type": "debug",
    "z": "tab_tibber_ampel",
    "name": "Ampel Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 650,
    "y": 260,
    "wires": []
  },
  {
    "id": "ampel_comment_test",
    "type": "comment",
    "z": "tab_tibber_ampel",
    "name": "Test-Buttons (zum Testen ohne echte Preisaenderung)",
    "info": "Klicke auf die Inject-Nodes um die Ampel manuell zu testen.\nDamit kannst du pruefen ob alle 3 LEDs funktionieren.",
    "x": 290,
    "y": 320,
    "wires": []
  },
  {
    "id": "ampel_test_guenstig",
    "type": "inject",
    "z": "tab_tibber_ampel",
    "name": "Test: guenstig (Gruen)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "günstig",
    "payloadType": "str",
    "x": 180,
    "y": 380,
    "wires": [
      [
        "ampel_logic"
      ]
    ]
  },
  {
    "id": "ampel_test_normal",
    "type": "inject",
    "z": "tab_tibber_ampel",
    "name": "Test: normal (Gelb)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "normal",
    "payloadType": "str",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "ampel_logic"
      ]
    ]
  },
  {
    "id": "ampel_test_teuer",
    "type": "inject",
    "z": "tab_tibber_ampel",
    "name": "Test: teuer (Rot)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "teuer",
    "payloadType": "str",
    "x": 160,
    "y": 460,
    "wires": [
      [
        "ampel_logic"
      ]
    ]
  },
  {
    "id": "ampel_comment_mqtt",
    "type": "comment",
    "z": "tab_tibber_ampel",
    "name": "MQTT Topics (Tasmota)",
    "info": "cmnd/tibber-ampel/POWER1 -> Rote LED (GPIO12)\ncmnd/tibber-ampel/POWER2 -> Gelbe LED (GPIO13)\ncmnd/tibber-ampel/POWER3 -> Gruene LED (GPIO15)\n\nstat/tibber-ampel/POWER1 -> Status Rot\nstat/tibber-ampel/POWER2 -> Status Gelb\nstat/tibber-ampel/POWER3 -> Status Gruen\n\nTasmota Web-UI: http://10.10.12.XX",
    "x": 180,
    "y": 540,
    "wires": []
  },
  {
    "id": "tab_tibber_ampel_2",
    "type": "tab",
    "label": "Tibber Ampel 2",
    "disabled": false,
    "info": "Strompreis-Ampel 2: ESP8266 mit Tasmota\n3 LEDs (Rot/Gelb/Gruen) zeigen den aktuellen Tibber Preis-Status.\n\nSensor: sensor.tibber_preis_status\nMQTT Topic: cmnd/tibber-ampel-2/POWER1-3\n\nESP IP: 10.10.12.XX"
  },
  {
    "id": "ampel2_comment_title",
    "type": "comment",
    "z": "tab_tibber_ampel_2",
    "name": "Tibber Strompreis-Ampel 2 (Tasmota ESP8266)",
    "info": "Zweite Ampel - identische Logik wie Ampel 1.\nGPIO12=Rot, GPIO13=Gelb, GPIO15=Gruen",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "ampel2_ha_preis",
    "type": "server-state-changed",
    "z": "tab_tibber_ampel_2",
    "name": "Tibber Preis Status",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.tibber_preis_status"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "preis_status",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "ampel2_logic"
      ]
    ]
  },
  {
    "id": "ampel2_logic",
    "type": "function",
    "z": "tab_tibber_ampel_2",
    "name": "Ampel-Logik 2",
    "func": "// Tibber Preis-Status zu LED-Steuerung\n// Status: günstig / normal / teuer\n// Blinken: wenn binary_sensor.paule_best_price_period == on (08-22 Uhr)\n// Peak: wenn binary_sensor.paule_peak_price_period == on -> Rot zusätzlich AN\n\nvar ha = global.get('homeassistant');\nvar states = (ha && ha.homeAssistant && ha.homeAssistant.states) || {};\n\nfunction getState(id) {\n    return states[id] ? states[id].state : '';\n}\n\nvar status = getState('sensor.tibber_preis_status');\nvar bestPrice = getState('binary_sensor.paule_best_price_period');\nvar peakPrice = getState('binary_sensor.paule_peak_price_period');\n\n// Zeitfenster 08:00 - 22:00 prüfen\nvar hour = new Date().getHours();\nvar inTimeWindow = (hour >= 8 && hour < 22);\n\n// Blink-Modus: günstigste Periode UND im Zeitfenster\nvar shouldBlink = (bestPrice === 'on' && inTimeWindow);\n\n// Peak-Modus: teuerste Periode aktiv -> Rot zusätzlich\nvar isPeak = (peakPrice === 'on');\n\nvar rot = \"OFF\";\nvar gelb = \"OFF\";\nvar gruen = \"OFF\";\nvar label = \"?\";\n\n// ON oder BLINK je nach günstigster Periode\nvar onCmd = shouldBlink ? \"BLINK\" : \"ON\";\n\nswitch(status) {\n    case \"günstig\":\n        gruen = onCmd;\n        label = \"GRUEN\" + (shouldBlink ? \" ★BLINK★\" : \"\");\n        break;\n    case \"normal\":\n        gelb = onCmd;\n        label = \"GELB\" + (shouldBlink ? \" ★BLINK★\" : \"\");\n        break;\n    case \"teuer\":\n        rot = onCmd;\n        label = \"ROT\" + (shouldBlink ? \" ★BLINK★\" : \"\");\n        break;\n    default:\n        gelb = onCmd;\n        label = \"GELB (unbekannt: \" + status + \")\";\n}\n\n// Peak-Preisperiode: Rot IMMER zusätzlich einschalten (als Warnung)\nif (isPeak && rot === \"OFF\") {\n    rot = \"ON\";\n    label += \" +ROT(Peak)\";\n}\n\nvar fill = gruen !== \"OFF\" ? \"green\" : rot !== \"OFF\" ? \"red\" : \"yellow\";\nvar shape = shouldBlink ? \"ring\" : \"dot\";\nnode.status({fill: fill, shape: shape, text: label});\n\nreturn [\n    {payload: rot},\n    {payload: gelb},\n    {payload: gruen}\n];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 160,
    "wires": [
      [
        "ampel2_mqtt_rot",
        "ampel2_debug"
      ],
      [
        "ampel2_mqtt_gelb",
        "ampel2_debug"
      ],
      [
        "ampel2_mqtt_gruen",
        "ampel2_debug"
      ]
    ],
    "outputLabels": [
      "Rot",
      "Gelb",
      "Gruen"
    ]
  },
  {
    "id": "ampel2_mqtt_rot",
    "type": "mqtt out",
    "z": "tab_tibber_ampel_2",
    "name": "POWER1 (Rot)",
    "topic": "cmnd/tibber-ampel-2/POWER1",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "ampel2_mqtt_gelb",
    "type": "mqtt out",
    "z": "tab_tibber_ampel_2",
    "name": "POWER2 (Gelb)",
    "topic": "cmnd/tibber-ampel-2/POWER2",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "ampel2_mqtt_gruen",
    "type": "mqtt out",
    "z": "tab_tibber_ampel_2",
    "name": "POWER3 (Gruen)",
    "topic": "cmnd/tibber-ampel-2/POWER3",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 660,
    "y": 200,
    "wires": []
  },
  {
    "id": "ampel2_debug",
    "type": "debug",
    "z": "tab_tibber_ampel_2",
    "name": "Ampel 2 Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 650,
    "y": 260,
    "wires": []
  },
  {
    "id": "ampel2_comment_test",
    "type": "comment",
    "z": "tab_tibber_ampel_2",
    "name": "Test-Buttons",
    "info": "Manueller Test fuer Ampel 2",
    "x": 290,
    "y": 320,
    "wires": []
  },
  {
    "id": "ampel2_test_guenstig",
    "type": "inject",
    "z": "tab_tibber_ampel_2",
    "name": "Test: guenstig (Gruen)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "günstig",
    "payloadType": "str",
    "x": 180,
    "y": 380,
    "wires": [
      [
        "ampel2_logic"
      ]
    ]
  },
  {
    "id": "ampel2_test_normal",
    "type": "inject",
    "z": "tab_tibber_ampel_2",
    "name": "Test: normal (Gelb)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "normal",
    "payloadType": "str",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "ampel2_logic"
      ]
    ]
  },
  {
    "id": "ampel2_test_teuer",
    "type": "inject",
    "z": "tab_tibber_ampel_2",
    "name": "Test: teuer (Rot)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "teuer",
    "payloadType": "str",
    "x": 160,
    "y": 460,
    "wires": [
      [
        "ampel2_logic"
      ]
    ]
  },
  {
    "id": "tab_geraete",
    "type": "tab",
    "label": "Geräte-Steuerung",
    "disabled": false,
    "info": "Toggle-Steuerung für alle Smart-Home-Geräte.\n\nAbschnitt 1: Tasmota Geräte (MQTT direct)\nAbschnitt 2: Tuya/Meross Geräte (HA Service Call)\nAbschnitt 3: Tuya Rollos (HA Service Call)"
  },
  {
    "id": "gs_comment_tasmota",
    "type": "comment",
    "z": "tab_geraete",
    "name": "=== Tasmota Geräte (MQTT Toggle) ===",
    "info": "Tasmota-Steckdosen werden direkt per MQTT angesteuert.\nPayload 'TOGGLE' schaltet den aktuellen Zustand um.\nBroker: Mosquitto auf localhost:1883",
    "x": 200,
    "y": 40,
    "wires": []
  },
  {
    "id": "gs_inj_tas_0",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-PV",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "gs_mqtt_tas_0"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_0",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Strom-PV/POWER",
    "topic": "cmnd/Strom-PV/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 80,
    "wires": []
  },
  {
    "id": "gs_inj_tas_1",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-AZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "gs_mqtt_tas_1"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_1",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/AZ_C8B675/POWER",
    "topic": "cmnd/AZ_C8B675/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 120,
    "wires": []
  },
  {
    "id": "gs_inj_tas_2",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-Kueche",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "gs_mqtt_tas_2"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_2",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Kuehlschrank/POWER",
    "topic": "cmnd/Kuehlschrank/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 160,
    "wires": []
  },
  {
    "id": "gs_inj_tas_3",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-Server",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "gs_mqtt_tas_3"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_3",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Strom-Server/POWER",
    "topic": "cmnd/Strom-Server/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 200,
    "wires": []
  },
  {
    "id": "gs_inj_tas_4",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-Trockner",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 240,
    "wires": [
      [
        "gs_mqtt_tas_4"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_4",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Strom-Trockner/POWER",
    "topic": "cmnd/Strom-Trockner/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 240,
    "wires": []
  },
  {
    "id": "gs_inj_tas_5",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-Wasch",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 280,
    "wires": [
      [
        "gs_mqtt_tas_5"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_5",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Strom-Wasch/POWER",
    "topic": "cmnd/Strom-Wasch/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 280,
    "wires": []
  },
  {
    "id": "gs_inj_tas_6",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Strom-KE",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 320,
    "wires": [
      [
        "gs_mqtt_tas_6"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_6",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Strom-KE_B51903/POWER",
    "topic": "cmnd/Strom-KE_B51903/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 320,
    "wires": []
  },
  {
    "id": "gs_inj_tas_7",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Matrix1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "TOGGLE",
    "payloadType": "str",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "gs_mqtt_tas_7"
      ]
    ]
  },
  {
    "id": "gs_mqtt_tas_7",
    "type": "mqtt out",
    "z": "tab_geraete",
    "name": "cmnd/Matrix1/POWER",
    "topic": "cmnd/Matrix1/POWER",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 450,
    "y": 360,
    "wires": []
  },
  {
    "id": "gs_comment_tuya",
    "type": "comment",
    "z": "tab_geraete",
    "name": "=== Tuya/Meross Geräte (HA Service Toggle) ===",
    "info": "Tuya- und Meross-Geräte werden über Home Assistant Service Calls gesteuert.\nDomain switch/light, Service toggle.",
    "x": 200,
    "y": 340,
    "wires": []
  },
  {
    "id": "gs_inj_tuya_0",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Spüle",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"switch\", \"service\": \"toggle\", \"target\": {\"entity_id\": [\"switch.spule_socket\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 380,
    "wires": [
      [
        "gs_svc_tuya_0"
      ]
    ]
  },
  {
    "id": "gs_svc_tuya_0",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Toggle Spüle",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 380,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_tuya_1",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Dimmer WZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"light\", \"service\": \"toggle\", \"target\": {\"entity_id\": [\"light.dimmer_wz_light_1\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 420,
    "wires": [
      [
        "gs_svc_tuya_1"
      ]
    ]
  },
  {
    "id": "gs_svc_tuya_1",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Toggle Dimmer WZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 420,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_tuya_2",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Toggle Licht WZ (Meross)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"switch\", \"service\": \"toggle\", \"target\": {\"entity_id\": [\"switch.licht_wz_mss210_main_channel\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 460,
    "wires": [
      [
        "gs_svc_tuya_2"
      ]
    ]
  },
  {
    "id": "gs_svc_tuya_2",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Toggle Licht WZ (Meross)",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 460,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_comment_rollos",
    "type": "comment",
    "z": "tab_geraete",
    "name": "=== Tuya Rollos (HA Service Open/Close) ===",
    "info": "Tuya-Rollos werden über Home Assistant Service Calls gesteuert.\nDomain cover, Service open_cover / close_cover.",
    "x": 200,
    "y": 540,
    "wires": []
  },
  {
    "id": "gs_inj_rollo_open_0",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Open Rollo WZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"open_cover\", \"target\": {\"entity_id\": [\"cover.rollo_wohnzimmer_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 580,
    "wires": [
      [
        "gs_svc_rollo_open_0"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_open_0",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Open Rollo WZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 580,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_close_0",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Close Rollo WZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"close_cover\", \"target\": {\"entity_id\": [\"cover.rollo_wohnzimmer_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 610,
    "wires": [
      [
        "gs_svc_rollo_close_0"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_close_0",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Close Rollo WZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 610,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_open_1",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Open Rollo SZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"open_cover\", \"target\": {\"entity_id\": [\"cover.rollo_schlafzimmer_rechts_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 640,
    "wires": [
      [
        "gs_svc_rollo_open_1"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_open_1",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Open Rollo SZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 640,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_close_1",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Close Rollo SZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"close_cover\", \"target\": {\"entity_id\": [\"cover.rollo_schlafzimmer_rechts_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 670,
    "wires": [
      [
        "gs_svc_rollo_close_1"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_close_1",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Close Rollo SZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 670,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_open_2",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Open Rollo AZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"open_cover\", \"target\": {\"entity_id\": [\"cover.rolo_arbeitszimmer_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 700,
    "wires": [
      [
        "gs_svc_rollo_open_2"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_open_2",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Open Rollo AZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 700,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_close_2",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Close Rollo AZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"close_cover\", \"target\": {\"entity_id\": [\"cover.rolo_arbeitszimmer_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 730,
    "wires": [
      [
        "gs_svc_rollo_close_2"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_close_2",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Close Rollo AZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 730,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_open_3",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Open Rollo GZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"open_cover\", \"target\": {\"entity_id\": [\"cover.rolos_gastezimmer_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 760,
    "wires": [
      [
        "gs_svc_rollo_open_3"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_open_3",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Open Rollo GZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 760,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_inj_rollo_close_3",
    "type": "inject",
    "z": "tab_geraete",
    "name": "Close Rollo GZ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"domain\": \"cover\", \"service\": \"close_cover\", \"target\": {\"entity_id\": [\"cover.rolos_gastezimmer_curtain\"]}}",
    "payloadType": "json",
    "x": 150,
    "y": 790,
    "wires": [
      [
        "gs_svc_rollo_close_3"
      ]
    ]
  },
  {
    "id": "gs_svc_rollo_close_3",
    "type": "api-call-service",
    "z": "tab_geraete",
    "name": "Close Rollo GZ",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 450,
    "y": 790,
    "wires": [
      [
        "gs_debug_svc"
      ]
    ]
  },
  {
    "id": "gs_debug_svc",
    "type": "debug",
    "z": "tab_geraete",
    "name": "Service Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 480,
    "wires": []
  },
  {
    "id": "tab_sz_heizung",
    "type": "tab",
    "label": "SZ Heizung",
    "disabled": false,
    "info": "Schlafzimmer Heizungsautomatik.\n\nFenster auf -> TRVs aus (off)\nFenster zu -> TRVs an (heat)\n\nSensor: binary_sensor.sz_fenster_door\nTRVs: climate.sz_heizung_links, climate.sz_heizung_rechts\n\nHINWEIS: TRV Entity-IDs sind Platzhalter und existieren noch nicht!"
  },
  {
    "id": "szh_comment_title",
    "type": "comment",
    "z": "tab_sz_heizung",
    "name": "SZ Heizung - Fenster-Automatik",
    "info": "Automatische Heizungssteuerung im Schlafzimmer.\n\nWenn das Fenster geöffnet wird (binary_sensor.sz_fenster_door = on),\nwerden beide TRVs auf 'off' gesetzt.\nWenn das Fenster geschlossen wird (= off), werden sie auf 'heat' zurückgesetzt.\n\nTRV Entity-IDs sind PLATZHALTER:\n- climate.sz_heizung_links\n- climate.sz_heizung_rechts\n\nDiese müssen angepasst werden, sobald die Tuya TRVs eingerichtet sind.",
    "x": 200,
    "y": 40,
    "wires": []
  },
  {
    "id": "szh_fenster",
    "type": "server-state-changed",
    "z": "tab_sz_heizung",
    "name": "SZ Fenster",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.sz_fenster_door"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 130,
    "y": 140,
    "wires": [
      [
        "szh_logic"
      ]
    ]
  },
  {
    "id": "szh_logic",
    "type": "function",
    "z": "tab_sz_heizung",
    "name": "Heizungslogik",
    "func": "var state = msg.payload; // \"on\" = window open, \"off\" = window closed\n\nif (state === \"on\") {\n    // Window OPENED - save current state and turn off\n    // Read current TRV states from HA via previous state data\n    var savedTemps = flow.get(\"sz_saved_temps\") || {};\n    // We save whatever was set before\n    // Output: set both TRVs to \"off\" mode\n    node.status({fill:\"red\", shape:\"dot\", text:\"Fenster OFFEN - Heizung AUS\"});\n\n    return [\n        {payload: {domain: \"climate\", service: \"set_hvac_mode\", target: {entity_id: [\"climate.sz_heizung_links\"]}, data: {hvac_mode: \"off\"}}},\n        {payload: {domain: \"climate\", service: \"set_hvac_mode\", target: {entity_id: [\"climate.sz_heizung_rechts\"]}, data: {hvac_mode: \"off\"}}},\n        {payload: \"Fenster offen - Heizung AUS\"}\n    ];\n} else if (state === \"off\") {\n    // Window CLOSED - restore heating\n    // Set both TRVs back to \"heat\" mode (they remember their target temp)\n    node.status({fill:\"green\", shape:\"dot\", text:\"Fenster ZU - Heizung freigegeben\"});\n\n    return [\n        {payload: {domain: \"climate\", service: \"set_hvac_mode\", target: {entity_id: [\"climate.sz_heizung_links\"]}, data: {hvac_mode: \"heat\"}}},\n        {payload: {domain: \"climate\", service: \"set_hvac_mode\", target: {entity_id: [\"climate.sz_heizung_rechts\"]}, data: {hvac_mode: \"heat\"}}},\n        {payload: \"Fenster zu - Heizung freigegeben\"}\n    ];\n}\n\nreturn [null, null, null];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 140,
    "wires": [
      [
        "szh_trv_links"
      ],
      [
        "szh_trv_rechts"
      ],
      [
        "szh_debug"
      ]
    ],
    "outputLabels": [
      "TRV Links",
      "TRV Rechts",
      "Debug"
    ]
  },
  {
    "id": "szh_trv_links",
    "type": "api-call-service",
    "z": "tab_sz_heizung",
    "name": "TRV SZ Links",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 570,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "szh_trv_rechts",
    "type": "api-call-service",
    "z": "tab_sz_heizung",
    "name": "TRV SZ Rechts",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 7,
    "debugenabled": false,
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "x": 580,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "szh_debug",
    "type": "debug",
    "z": "tab_sz_heizung",
    "name": "SZ Heizung Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 580,
    "y": 180,
    "wires": []
  },
  {
    "id": "szh_test_open",
    "type": "inject",
    "z": "tab_sz_heizung",
    "name": "Test: Fenster AUF",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "on",
    "payloadType": "str",
    "x": 160,
    "y": 300,
    "wires": [
      [
        "szh_logic"
      ]
    ]
  },
  {
    "id": "szh_test_close",
    "type": "inject",
    "z": "tab_sz_heizung",
    "name": "Test: Fenster ZU",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "off",
    "payloadType": "str",
    "x": 160,
    "y": 340,
    "wires": [
      [
        "szh_logic"
      ]
    ]
  },
  {
    "id": "szh_comment_test",
    "type": "comment",
    "z": "tab_sz_heizung",
    "name": "Test-Buttons (simulieren Fenster auf/zu)",
    "info": "Klicke auf die Inject-Nodes um die Heizungslogik manuell zu testen\nohne dass der Fenstersensor ausgelöst werden muss.",
    "x": 230,
    "y": 260,
    "wires": []
  },
  {
    "id": "szh_comment_info",
    "type": "comment",
    "z": "tab_sz_heizung",
    "name": "HINWEIS: TRV Entity-IDs sind Platzhalter!",
    "info": "Die folgenden Entity-IDs existieren noch NICHT in Home Assistant:\n- climate.sz_heizung_links\n- climate.sz_heizung_rechts\n\nSobald die Tuya TRVs eingerichtet sind, müssen die Entity-IDs\nim Function-Node 'Heizungslogik' angepasst werden.\n\nDie TRVs werden im 'heat' Modus betrieben und behalten\nihre Zieltemperatur selbst bei. Der Flow schaltet nur\nzwischen 'heat' und 'off' um.",
    "x": 230,
    "y": 420,
    "wires": []
  },
  {
    "id": "tab_matrix2",
    "type": "tab",
    "label": "Matrix2 (Uhr + PV)",
    "disabled": false,
    "info": "ESP8266 + MAX7219 32x8\n\nImmer: Uhrzeit HH:MM (blinkender Doppelpunkt)\nAlle 5 Min fuer 10s:\n- PV >= 15W: aktuelle Leistung in W\n- PV < 15W tags: Tagesertrag in kWh\n- PV < 15W nach Mitternacht: Vortagsertrag in kWh\n\n22:00-07:00: Helligkeit 10%\n07:00-22:00: Helligkeit 33%"
  },
  {
    "id": "m2_title",
    "type": "comment",
    "z": "tab_matrix2",
    "name": "Matrix2: Uhrzeit + PV (32x8 MAX7219)",
    "info": "",
    "x": 280,
    "y": 40,
    "wires": []
  },
  {
    "id": "m2_comment_data",
    "type": "comment",
    "z": "tab_matrix2",
    "name": "--- DATEN SAMMELN ---",
    "info": "",
    "x": 180,
    "y": 100,
    "wires": []
  },
  {
    "id": "m2_pv_watch",
    "type": "server-state-changed",
    "z": "tab_matrix2",
    "name": "sensor.pv_leistung",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_leistung"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "m2_store_pv"
      ]
    ]
  },
  {
    "id": "m2_store_pv",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Speichere PV W",
    "func": "flow.set('m2_pv_watts', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 160,
    "wires": []
  },
  {
    "id": "m2_energy_watch",
    "type": "server-state-changed",
    "z": "tab_matrix2",
    "name": "sensor.pv_energy_today",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_today"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 220,
    "wires": [
      [
        "m2_store_energy"
      ]
    ]
  },
  {
    "id": "m2_store_energy",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Speichere kWh",
    "func": "flow.set('m2_daily_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 220,
    "wires": []
  },
  {
    "id": "m2_daily_meter_watch",
    "type": "server-state-changed",
    "z": "tab_matrix2",
    "name": "sensor.pv_energy_daily",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_daily"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "attributes",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 170,
    "y": 280,
    "wires": [
      [
        "m2_store_yesterday"
      ]
    ]
  },
  {
    "id": "m2_store_yesterday",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Speichere Vortag",
    "func": "var attrs = msg.attributes;\nif (attrs && attrs.new_state && attrs.new_state.attributes) {\n    var lp = parseFloat(attrs.new_state.attributes.last_period);\n    if (!isNaN(lp)) {\n        flow.set('m2_yesterday_kwh', lp);\n    }\n}",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": []
  },
  {
    "id": "m2_comment_display",
    "type": "comment",
    "z": "tab_matrix2",
    "name": "--- ANZEIGE (jede Sekunde) ---",
    "info": "",
    "x": 210,
    "y": 380,
    "wires": []
  },
  {
    "id": "m2_inject",
    "type": "inject",
    "z": "tab_matrix2",
    "name": "Jede Sekunde",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "8",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 440,
    "wires": [
      [
        "m2_display_logic"
      ]
    ]
  },
  {
    "id": "m2_display_logic",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Anzeige-Logik",
    "func": "var watts = flow.get('m2_pv_watts') || 0;\nvar dailyKwh = flow.get('m2_daily_kwh') || 0;\nvar yesterdayKwh = flow.get('m2_yesterday_kwh') || 0;\nvar flashUntil = flow.get('m2_show_pv_until') || 0;\nvar now = Date.now();\n\n// PV-Daten Phase (10s von 60s Zyklus)\nif (now < flashUntil) {\n    if (watts >= 15) {\n        // Aktuelle Leistung in W\n        msg.payload = Math.round(watts) + 'W';\n    } else {\n        // Tagessumme oder Vortag in kWh\n        var kwh;\n        if (dailyKwh < 0.05 && yesterdayKwh > 0.05) {\n            kwh = yesterdayKwh;\n        } else {\n            kwh = dailyKwh;\n        }\n        // toFixed(1) mit Punkt - MAX7219 zeigt Punkt kompakt an\n        msg.payload = kwh.toFixed(1) + 'kW';\n    }\n    return msg;\n}\n\n// Standard: Uhrzeit mit blinkendem Doppelpunkt\nvar d = new Date();\nvar h = String(d.getHours()).padStart(2, '0');\nvar m = String(d.getMinutes()).padStart(2, '0');\nvar sep = (d.getSeconds() % 2 === 0) ? ':' : ' ';\nmsg.payload = h + sep + m;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('m2_pv_watts', 0);\nflow.set('m2_daily_kwh', 0);\nflow.set('m2_yesterday_kwh', 0);\nflow.set('m2_show_pv_until', 0);",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 440,
    "wires": [
      [
        "m2_dedup"
      ]
    ]
  },
  {
    "id": "m2_dedup",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Durchleiten",
    "func": "return msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 440,
    "wires": [
      [
        "m2_mqtt_display",
        "m2_debug"
      ]
    ]
  },
  {
    "id": "m2_comment_flash",
    "type": "comment",
    "z": "tab_matrix2",
    "name": "--- FLASH TRIGGER (alle 5 Min fuer 10s) ---",
    "info": "",
    "x": 250,
    "y": 540,
    "wires": []
  },
  {
    "id": "m2_inject_flash",
    "type": "inject",
    "z": "tab_matrix2",
    "name": "Alle 60 Sekunden",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 600,
    "wires": [
      [
        "m2_set_flash"
      ]
    ]
  },
  {
    "id": "m2_set_flash",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Flash 10s aktivieren",
    "func": "// Flash fuer 10s aktivieren (Sekunde 50-60 im Zyklus)\nflow.set('m2_show_pv_until', Date.now() + 10000);\n// last_display zuruecksetzen damit sofort gesendet wird\nflow.set('m2_last_display', '');",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 600,
    "wires": []
  },
  {
    "id": "m2_comment_dim",
    "type": "comment",
    "z": "tab_matrix2",
    "name": "--- HELLIGKEIT (Nacht-Dimming 22-07 Uhr) ---",
    "info": "",
    "x": 260,
    "y": 680,
    "wires": []
  },
  {
    "id": "m2_dim_night",
    "type": "inject",
    "z": "tab_matrix2",
    "name": "22:00 -> Dimmen",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 160,
    "y": 740,
    "wires": [
      [
        "m2_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m2_dim_day",
    "type": "inject",
    "z": "tab_matrix2",
    "name": "07:00 -> Hell",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "x": 150,
    "y": 800,
    "wires": [
      [
        "m2_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m2_dim_startup",
    "type": "inject",
    "z": "tab_matrix2",
    "name": "Startup -> Helligkeit pruefen",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 860,
    "wires": [
      [
        "m2_dim_check"
      ]
    ]
  },
  {
    "id": "m2_dim_check",
    "type": "function",
    "z": "tab_matrix2",
    "name": "Tag oder Nacht?",
    "func": "var hour = new Date().getHours();\nif (hour >= 22 || hour < 7) {\n    msg.payload = 1;  // Nacht: 10%\n} else {\n    msg.payload = 5;  // Tag: 33%\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 860,
    "wires": [
      [
        "m2_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m2_mqtt_dimmer",
    "type": "mqtt out",
    "z": "tab_matrix2",
    "name": "cmnd/Matrix2/DisplayDimmer",
    "topic": "cmnd/Matrix2/DisplayDimmer",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 490,
    "y": 740,
    "wires": []
  },
  {
    "id": "m2_mqtt_display",
    "type": "mqtt out",
    "z": "tab_matrix2",
    "name": "cmnd/Matrix2/DisplayText",
    "topic": "cmnd/Matrix2/DisplayText",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 810,
    "y": 420,
    "wires": []
  },
  {
    "id": "m2_debug",
    "type": "debug",
    "z": "tab_matrix2",
    "name": "Matrix2 Debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 800,
    "y": 480,
    "wires": []
  },
  {
    "id": "tab_matrix1",
    "type": "tab",
    "label": "Matrix1 (PV + Uhr)",
    "disabled": false,
    "info": "ESP8266 + MAX7219 32x8 LED Matrix am Schuppen\n\nImmer: PV-Leistungsdaten (50s)\nAlle 60s fuer 10s: Uhrzeit HH:MM\n\nModi PV-Anzeige:\n- PV >= 15W: aktuelle Leistung in W\n- PV < 15W tags: Tagesertrag in kWh\n- PV < 15W nach Mitternacht: Vortagsertrag in kWh\n\n22:00-07:00: Helligkeit 10%\n07:00-22:00: Helligkeit 33%"
  },
  {
    "id": "m1_title",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "Matrix1: PV + Uhrzeit (32x8 MAX7219, Schuppen)",
    "info": "",
    "x": 300,
    "y": 40,
    "wires": []
  },
  {
    "id": "m1_comment_data",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "--- DATEN SAMMELN ---",
    "info": "",
    "x": 180,
    "y": 100,
    "wires": []
  },
  {
    "id": "m1_pv_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_leistung",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_leistung"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "m1_store_pv"
      ]
    ]
  },
  {
    "id": "m1_store_pv",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere PV W",
    "func": "flow.set('m1_pv_watts', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 160,
    "wires": []
  },
  {
    "id": "m1_energy_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_energy_today",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_today"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 220,
    "wires": [
      [
        "m1_store_energy"
      ]
    ]
  },
  {
    "id": "m1_store_energy",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere kWh",
    "func": "flow.set('m1_daily_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 220,
    "wires": []
  },
  {
    "id": "m1_daily_meter_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_energy_daily",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_daily"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "attributes",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 170,
    "y": 280,
    "wires": [
      [
        "m1_store_yesterday"
      ]
    ]
  },
  {
    "id": "m1_store_yesterday",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere Vortag",
    "func": "var attrs = msg.attributes;\nif (attrs && attrs.new_state && attrs.new_state.attributes) {\n    var lp = parseFloat(attrs.new_state.attributes.last_period);\n    if (!isNaN(lp)) {\n        flow.set('m1_yesterday_kwh', lp);\n    }\n}",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": []
  },
  {
    "id": "m1_comment_display",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "--- ANZEIGE: 50s PV / 10s Uhrzeit ---",
    "info": "",
    "x": 240,
    "y": 380,
    "wires": []
  },
  {
    "id": "m1_inject",
    "type": "inject",
    "z": "tab_matrix1",
    "name": "Jede Sekunde",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "8",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 440,
    "wires": [
      [
        "m1_display_logic"
      ]
    ]
  },
  {
    "id": "m1_display_logic",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Anzeige-Logik (PV default)",
    "func": "var watts = flow.get('m1_pv_watts') || 0;\nvar dailyKwh = flow.get('m1_daily_kwh') || 0;\nvar yesterdayKwh = flow.get('m1_yesterday_kwh') || 0;\nvar flashUntil = flow.get('m1_show_time_until') || 0;\nvar now = Date.now();\n\n// Uhrzeit-Phase (10s von 60s Zyklus)\nif (now < flashUntil) {\n    var d = new Date();\n    var h = String(d.getHours()).padStart(2, '0');\n    var m = String(d.getMinutes()).padStart(2, '0');\n    var sep = (d.getSeconds() % 2 === 0) ? ':' : ' ';\n    msg.payload = h + sep + m;\n    return msg;\n}\n\n// Standard: PV-Daten\nif (watts >= 15) {\n    msg.payload = Math.round(watts) + 'W';\n} else {\n    var kwh;\n    if (dailyKwh < 0.05 && yesterdayKwh > 0.05) {\n        kwh = yesterdayKwh;\n    } else {\n        kwh = dailyKwh;\n    }\n    msg.payload = kwh.toFixed(1) + 'kW';\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('m1_pv_watts', 0);\nflow.set('m1_daily_kwh', 0);\nflow.set('m1_yesterday_kwh', 0);\nflow.set('m1_show_time_until', 0);",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 440,
    "wires": [
      [
        "m1_passthrough"
      ]
    ]
  },
  {
    "id": "m1_passthrough",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Durchleiten",
    "func": "return msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 440,
    "wires": [
      [
        "m1_mqtt_display",
        "m1_debug"
      ]
    ]
  },
  {
    "id": "m1_comment_flash",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "--- UHRZEIT-FLASH (alle 60s fuer 10s) ---",
    "info": "",
    "x": 250,
    "y": 540,
    "wires": []
  },
  {
    "id": "m1_inject_flash",
    "type": "inject",
    "z": "tab_matrix1",
    "name": "Alle 60 Sekunden",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "15",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 600,
    "wires": [
      [
        "m1_set_flash"
      ]
    ]
  },
  {
    "id": "m1_set_flash",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Uhrzeit 10s aktivieren",
    "func": "flow.set('m1_show_time_until', Date.now() + 10000);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 600,
    "wires": []
  },
  {
    "id": "m1_comment_dim",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "--- HELLIGKEIT (22-07 Uhr gedimmt) ---",
    "info": "",
    "x": 240,
    "y": 680,
    "wires": []
  },
  {
    "id": "m1_dim_night",
    "type": "inject",
    "z": "tab_matrix1",
    "name": "22:00 -> Dimmen",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 160,
    "y": 740,
    "wires": [
      [
        "m1_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m1_dim_day",
    "type": "inject",
    "z": "tab_matrix1",
    "name": "07:00 -> Hell",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "x": 150,
    "y": 800,
    "wires": [
      [
        "m1_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m1_dim_startup",
    "type": "inject",
    "z": "tab_matrix1",
    "name": "Startup -> Helligkeit",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 860,
    "wires": [
      [
        "m1_dim_check"
      ]
    ]
  },
  {
    "id": "m1_dim_check",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Tag oder Nacht?",
    "func": "var hour = new Date().getHours();\nif (hour >= 22 || hour < 7) {\n    msg.payload = 1;\n} else {\n    msg.payload = 5;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 860,
    "wires": [
      [
        "m1_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m1_mqtt_dimmer",
    "type": "mqtt out",
    "z": "tab_matrix1",
    "name": "cmnd/Matrix1/DisplayDimmer",
    "topic": "cmnd/Matrix1/DisplayDimmer",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 490,
    "y": 740,
    "wires": []
  },
  {
    "id": "m1_mqtt_display",
    "type": "mqtt out",
    "z": "tab_matrix1",
    "name": "cmnd/Matrix1/DisplayText",
    "topic": "cmnd/Matrix1/DisplayText",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 810,
    "y": 420,
    "wires": []
  },
  {
    "id": "m1_debug",
    "type": "debug",
    "z": "tab_matrix1",
    "name": "Matrix1 Debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 800,
    "y": 480,
    "wires": []
  },
  {
    "id": "tab_matrix3",
    "type": "tab",
    "label": "Matrix3 (Uhr+PV+Alerts)",
    "disabled": false,
    "info": "ESP8266 + MAX7219 64x8 (8 Module)\n\nLinke Haelfte (32px): Uhrzeit + PV (wie Matrix2)\nRechte Haelfte (32px): Benachrichtigungen nach Prioritaet\n\nBenachrichtigungsquellen werden ueber input_boolean Helfer\nin HA aktiviert/deaktiviert."
  },
  {
    "id": "m3_title",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "Matrix3: Uhr+PV | Benachrichtigungen (64x8)",
    "info": "",
    "x": 310,
    "y": 40,
    "wires": []
  },
  {
    "id": "m3_comment_data",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- DATEN SAMMELN ---",
    "info": "",
    "x": 180,
    "y": 100,
    "wires": []
  },
  {
    "id": "m3_pv_watch",
    "type": "server-state-changed",
    "z": "tab_matrix3",
    "name": "sensor.pv_leistung",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_leistung"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "m3_store_pv"
      ]
    ]
  },
  {
    "id": "m3_store_pv",
    "type": "function",
    "z": "tab_matrix3",
    "name": "PV W",
    "func": "flow.set('m3_pv_watts', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 160,
    "wires": []
  },
  {
    "id": "m3_energy_watch",
    "type": "server-state-changed",
    "z": "tab_matrix3",
    "name": "sensor.pv_energy_today",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_today"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 210,
    "wires": [
      [
        "m3_store_energy"
      ]
    ]
  },
  {
    "id": "m3_store_energy",
    "type": "function",
    "z": "tab_matrix3",
    "name": "kWh",
    "func": "flow.set('m3_daily_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 210,
    "wires": []
  },
  {
    "id": "m3_daily_meter_watch",
    "type": "server-state-changed",
    "z": "tab_matrix3",
    "name": "sensor.pv_energy_daily",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_daily"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "attributes",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 170,
    "y": 260,
    "wires": [
      [
        "m3_store_yesterday"
      ]
    ]
  },
  {
    "id": "m3_store_yesterday",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Vortag",
    "func": "var attrs = msg.attributes;\nif (attrs && attrs.new_state && attrs.new_state.attributes) {\n    var lp = parseFloat(attrs.new_state.attributes.last_period);\n    if (!isNaN(lp)) flow.set('m3_yesterday_kwh', lp);\n}",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 260,
    "wires": []
  },
  {
    "id": "m3_comment_alerts",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- BENACHRICHTIGUNGEN SAMMELN (alle 5s) ---",
    "info": "",
    "x": 280,
    "y": 330,
    "wires": []
  },
  {
    "id": "m3_inject_alerts",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Alle 5 Sekunden",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 380,
    "wires": [
      [
        "m3_collect_alerts"
      ]
    ]
  },
  {
    "id": "m3_collect_alerts",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Alerts nach Prioritaet sammeln",
    "func": "// Sammle alle aktiven Alerts nach Prioritaet\n// Max 4 Zeichen pro Alert (64px = 10 Zeichen total)\nvar alerts = [];\nvar ha = global.get('homeassistant');\nif (!ha || !ha.homeAssistant || !ha.homeAssistant.states) {\n    flow.set('m3_alerts', alerts);\n    return null;\n}\nvar states = ha.homeAssistant.states;\n\nfunction getState(id) {\n    return states[id] ? states[id].state : '';\n}\nfunction isOn(id) {\n    return getState(id) === 'on';\n}\nfunction isEnabled(id) {\n    return isOn('input_boolean.' + id);\n}\n\n// PRIO 1: KRITISCH\nif (isEnabled('matrix3_thw_alarm') && isOn('binary_sensor.divera_alarm_aktiv')) {\n    alerts.push('ALM!');\n}\nif (isEnabled('matrix3_internet_offline')) {\n    var inet = getState('binary_sensor.fritz_box_6591_cable_vodafone_connection');\n    if (inet === 'off') alerts.push('NNET');\n}\n\n// PRIO 2: HOCH\nif (isEnabled('matrix3_nina_warnung')) {\n    var nina = parseInt(getState('sensor.nina_munchen_warnungen_anzahl')) || 0;\n    if (nina > 0) {\n        var txt = getState('sensor.nina_munchen_warnung_aktuell') || 'NINA';\n        alerts.push(txt.substring(0, 4));\n    }\n}\nif (isEnabled('matrix3_dwd_wetter')) {\n    var dwd = parseInt(getState('sensor.dwd_munchen_warnungen')) || 0;\n    if (dwd > 0) alerts.push('UNWT');\n}\nif (isEnabled('matrix3_hochwasser')) {\n    var pegel = parseFloat(getState('sensor.pegel_isar_muenchen')) || 0;\n    if (pegel > 600) alerts.push('HCHW');\n}\nif (isEnabled('matrix3_thw_rueckmeldung') && isOn('binary_sensor.divera_ruckmeldung_fallig')) {\n    alerts.push('THW!');\n}\nif (isEnabled('matrix3_netzwerk')) {\n    var netz = getState('sensor.netzwerk_status');\n    if (netz && netz !== 'Alles OK' && netz !== 'unknown' && netz !== 'unavailable') {\n        alerts.push('NETZ');\n    }\n}\n\n// PRIO 3: MITTEL\nif (isEnabled('matrix3_petkit')) {\n    var petkit = getState('sensor.petkit_status');\n    if (petkit && petkit !== 'ok' && petkit !== 'unknown' && petkit !== 'unavailable') {\n        alerts.push('KATZ');\n    }\n}\nif (isEnabled('matrix3_meshtastic')) {\n    var lastMsg = getState('sensor.mesh_letzte_nachricht');\n    var lastTime = getState('sensor.mesh_letzte_nachricht_zeit');\n    if (lastMsg && lastTime) {\n        var msgAge = (Date.now() - new Date(lastTime).getTime()) / 60000;\n        if (msgAge < 30 && msgAge >= 0) {\n            alerts.push('MESH');\n        }\n    }\n}\nif (isEnabled('matrix3_mesh_batterie')) {\n    var bats = ['mesh_gw_battery','mesh_supreme_battery','mesh_deck_battery','mesh_otn_battery'];\n    for (var i = 0; i < bats.length; i++) {\n        var bat = parseFloat(getState('sensor.' + bats[i])) || 100;\n        if (bat < 20 && bat > 0) {\n            alerts.push('B' + Math.round(bat));\n            break;\n        }\n    }\n}\nif (isEnabled('matrix3_waschmaschine') && isOn('input_boolean.waschmaschine_warten')) {\n    alerts.push('WSCH');\n}\nif (isEnabled('matrix3_trockner') && isOn('input_boolean.trockner_warten')) {\n    alerts.push('TRCK');\n}\n\n// PRIO 4: NIEDRIG\nif (isEnabled('matrix3_tibber_teuer')) {\n    var price = getState('sensor.tibber_price_level');\n    if (price === 'VERY_EXPENSIVE') alerts.push('TEUR');\n}\nif (isEnabled('matrix3_tibber_guenstig')) {\n    var price2 = getState('sensor.tibber_price_level');\n    if (price2 === 'VERY_CHEAP') alerts.push('BIL!');\n}\n\nflow.set('m3_alerts', alerts);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 380,
    "wires": [
      [
        "m3_debug_alerts"
      ]
    ]
  },
  {
    "id": "m3_debug_alerts",
    "type": "debug",
    "z": "tab_matrix3",
    "name": "Alerts",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 380,
    "wires": []
  },
  {
    "id": "m3_comment_display",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- DISPLAY (jede Sekunde) ---",
    "info": "",
    "x": 220,
    "y": 460,
    "wires": []
  },
  {
    "id": "m3_inject",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Jede Sekunde",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 520,
    "wires": [
      [
        "m3_display_logic"
      ]
    ]
  },
  {
    "id": "m3_display_logic",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Links: Uhr/PV | Rechts: Alerts",
    "func": "var watts = flow.get('m3_pv_watts') || 0;\nvar dailyKwh = flow.get('m3_daily_kwh') || 0;\nvar yesterdayKwh = flow.get('m3_yesterday_kwh') || 0;\nvar flashUntil = flow.get('m3_show_pv_until') || 0;\nvar now = Date.now();\nvar left = '';\n\n// === LINKE HAELFTE: Uhr / PV (max 5 Zeichen) ===\nif (now < flashUntil) {\n    if (watts >= 15) {\n        left = Math.round(watts) + 'W';\n    } else {\n        var kwh = (dailyKwh < 0.05 && yesterdayKwh > 0.05) ? yesterdayKwh : dailyKwh;\n        left = kwh.toFixed(1) + 'kW';\n    }\n} else {\n    var d = new Date();\n    var h = String(d.getHours()).padStart(2, '0');\n    var m = String(d.getMinutes()).padStart(2, '0');\n    var sep = (d.getSeconds() % 2 === 0) ? ':' : ' ';\n    left = h + sep + m;\n}\n\n// Links auf 5 Zeichen padden\nwhile (left.length < 5) left = left + ' ';\n\n// === RECHTE HAELFTE: Benachrichtigungen (max 4 Zeichen) ===\nvar alerts = flow.get('m3_alerts') || [];\nvar right = '';\nif (alerts.length > 0) {\n    var idx = Math.floor(Date.now() / 3000) % alerts.length;\n    right = alerts[idx].substring(0, 4);\n}\n\n// Kombinieren: links(5) + Leerzeichen + rechts(max 4) = max 10 Zeichen\nif (right) {\n    msg.payload = left + ' ' + right;\n} else {\n    msg.payload = left;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('m3_pv_watts', 0);\nflow.set('m3_daily_kwh', 0);\nflow.set('m3_yesterday_kwh', 0);\nflow.set('m3_show_pv_until', 0);\nflow.set('m3_alerts', []);",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 520,
    "wires": [
      [
        "m3_mqtt_display",
        "m3_debug"
      ]
    ]
  },
  {
    "id": "m3_comment_flash",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- PV FLASH (60s Zyklus, 10s) ---",
    "info": "",
    "x": 230,
    "y": 610,
    "wires": []
  },
  {
    "id": "m3_inject_flash",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Alle 60 Sekunden",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "20",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 660,
    "wires": [
      [
        "m3_set_flash"
      ]
    ]
  },
  {
    "id": "m3_set_flash",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Flash 10s",
    "func": "flow.set('m3_show_pv_until', Date.now() + 10000);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 660,
    "wires": []
  },
  {
    "id": "m3_comment_dim",
    "type": "comment",
    "z": "tab_matrix3",
    "name": "--- HELLIGKEIT ---",
    "info": "",
    "x": 170,
    "y": 740,
    "wires": []
  },
  {
    "id": "m3_dim_night",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "22:00 Dimmen",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 150,
    "y": 790,
    "wires": [
      [
        "m3_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m3_dim_day",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "07:00 Hell",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "x": 140,
    "y": 840,
    "wires": [
      [
        "m3_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m3_dim_startup",
    "type": "inject",
    "z": "tab_matrix3",
    "name": "Startup",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 890,
    "wires": [
      [
        "m3_dim_check"
      ]
    ]
  },
  {
    "id": "m3_dim_check",
    "type": "function",
    "z": "tab_matrix3",
    "name": "Tag/Nacht",
    "func": "var h = new Date().getHours();\nmsg.payload = (h >= 22 || h < 7) ? 1 : 5;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 890,
    "wires": [
      [
        "m3_mqtt_dimmer"
      ]
    ]
  },
  {
    "id": "m3_mqtt_dimmer",
    "type": "mqtt out",
    "z": "tab_matrix3",
    "name": "cmnd/Matrix3/DisplayDimmer",
    "topic": "cmnd/Matrix3/DisplayDimmer",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 430,
    "y": 790,
    "wires": []
  },
  {
    "id": "m3_mqtt_display",
    "type": "mqtt out",
    "z": "tab_matrix3",
    "name": "cmnd/Matrix3/DisplayText",
    "topic": "cmnd/Matrix3/DisplayText",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "YOUR_MQTT_BROKER_NODE_ID",
    "x": 700,
    "y": 500,
    "wires": []
  },
  {
    "id": "m3_debug",
    "type": "debug",
    "z": "tab_matrix3",
    "name": "Matrix3 Debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 690,
    "y": 560,
    "wires": []
  },
  {
    "id": "ampel_ha_best_price",
    "type": "server-state-changed",
    "z": "tab_tibber_ampel",
    "name": "Günstigste Periode",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.paule_best_price_period"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "best_price",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 240,
    "wires": [
      [
        "ampel_logic"
      ]
    ]
  },
  {
    "id": "ampel2_ha_best_price",
    "type": "server-state-changed",
    "z": "tab_tibber_ampel_2",
    "name": "Günstigste Periode",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.paule_best_price_period"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "best_price",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 240,
    "wires": [
      [
        "ampel2_logic"
      ]
    ]
  },
  {
    "id": "ampel_ha_peak_price",
    "type": "server-state-changed",
    "z": "tab_tibber_ampel",
    "name": "Peak-Preisperiode",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.paule_peak_price_period"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "peak_price",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 310,
    "wires": [
      [
        "ampel_logic"
      ]
    ]
  },
  {
    "id": "ampel2_ha_peak_price",
    "type": "server-state-changed",
    "z": "tab_tibber_ampel_2",
    "name": "Peak-Preisperiode",
    "server": "YOUR_HA_SERVER_NODE_ID",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.paule_peak_price_period"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "peak_price",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 310,
    "wires": [
      [
        "ampel2_logic"
      ]
    ]
  }
]