projects/max7219-matrix/config/nodered/matrix_flows.json
[
  {
    "id": "tab_matrix1",
    "type": "tab",
    "label": "Matrix1 (PV-Matrix)",
    "disabled": false,
    "info": "ESP-12F + MAX7219 32x8 LED Matrix (Schuppen)\n\nSunrise-30min: Display ON, Vortags-Ertrag\nPV >= 50W: aktuelle Leistung in W\nPV < 50W: Tagesertrag in kWh\nSonnenuntergang: Dimmer auf 10\n21:00-22:00: PV Lebensleistung (MWh)\n22:00: Display OFF"
  },
  {
    "id": "m1_title",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "Matrix1: PV-Matrix (32x8 MAX7219, Schuppen)",
    "info": "",
    "x": 300,
    "y": 40,
    "wires": []
  },
  {
    "id": "m1_comment_data",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "--- DATEN SAMMELN ---",
    "info": "",
    "x": 180,
    "y": 100,
    "wires": []
  },
  {
    "id": "m1_pv_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_leistung",
    "server": "80ef547.fe1b7a8",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_leistung"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "m1_store_pv"
      ]
    ]
  },
  {
    "id": "m1_store_pv",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere PV W",
    "func": "flow.set('m1_pv_watts', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 160,
    "wires": []
  },
  {
    "id": "m1_energy_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_energy_today",
    "server": "80ef547.fe1b7a8",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energy_today"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 220,
    "wires": [
      [
        "m1_store_energy"
      ]
    ]
  },
  {
    "id": "m1_store_energy",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere kWh",
    "func": "flow.set('m1_daily_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 220,
    "wires": []
  },
  {
    "id": "m1_daily_meter_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_energie_gestern",
    "server": "80ef547.fe1b7a8",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energie_gestern"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 280,
    "wires": [
      [
        "m1_store_yesterday"
      ]
    ]
  },
  {
    "id": "m1_store_yesterday",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere Gestern",
    "func": "flow.set('m1_yesterday_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": []
  },
  {
    "id": "m1_comment_display",
    "type": "comment",
    "z": "tab_matrix1",
    "name": "--- ANZEIGE-LOGIK (Sonnenstand + PV) ---",
    "info": "",
    "x": 240,
    "y": 380,
    "wires": []
  },
  {
    "id": "m1_inject",
    "type": "inject",
    "z": "tab_matrix1",
    "name": "Jede Sekunde",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "8",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 440,
    "wires": [
      [
        "m1_display_logic"
      ]
    ]
  },
  {
    "id": "m1_display_logic",
    "type": "function",
    "z": "tab_matrix1",
    "name": "PV Anzeige-Logik",
    "func": "var watts = flow.get('m1_pv_watts') || 0;\nvar dailyKwh = flow.get('m1_daily_kwh') || 0;\nvar yesterdayKwh = flow.get('m1_yesterday_kwh') || 0;\nvar nextRisingStr = flow.get('m1_next_rising') || '';\nvar sunState = flow.get('m1_sun_state') || '';\n\nvar now = new Date();\nvar nowMs = now.getTime();\nvar hour = now.getHours();\n\nvar phase = flow.get('m1_phase') || 'init';\nvar prevPhase = phase;\n\n// Sunrise - 30 min\nvar sunrise30Ms = 0;\nif (nextRisingStr) {\n    sunrise30Ms = new Date(nextRisingStr).getTime() - 30 * 60000;\n}\n\n// Skip logic until sun data is available\nif (!sunState) {\n    return [null, null, null];\n}\n\n// --- Phase transitions ---\n\n// 22:00+ -> OFF\nif (hour >= 22) {\n    phase = 'off';\n}\n// 21:00-22:00 -> LIFETIME (Lebensleistung)\nelse if (hour >= 21) {\n    phase = 'lifetime';\n}\n// Night, before sunrise-30min -> OFF\nelse if (sunState === 'below_horizon' && hour < 12 && sunrise30Ms > 0 && nowMs < sunrise30Ms) {\n    phase = 'off';\n}\n// Sunrise-30min reached, sun not up yet, no production -> MORNING\nelse if (phase === 'off' || phase === 'init') {\n    if (sunState === 'below_horizon' && sunrise30Ms > 0 && nowMs >= sunrise30Ms) {\n        phase = 'morning';\n    } else if (sunState === 'above_horizon') {\n        phase = (watts >= 30) ? 'producing' : 'idle';\n    } else if (sunState === 'below_horizon' && hour >= 12) {\n        // Restart during evening (after sunset, before 22:00)\n        phase = 'idle';\n    }\n}\n\n// PV >= 50W -> PRODUCING (from morning or idle)\nif (watts >= 30 && (phase === 'morning' || phase === 'idle')) {\n    phase = 'producing';\n}\n// PV < 50W after producing -> IDLE\nelse if (watts < 30 && phase === 'producing') {\n    phase = 'idle';\n}\n\n// --- Power / Dimmer ---\nvar powerMsg = null;\nvar dimmerMsg = null;\n\nif (phase !== prevPhase) {\n    if (phase === 'off' && prevPhase !== 'off') {\n        powerMsg = {payload: 'OFF'};\n    }\n    if ((prevPhase === 'off' || prevPhase === 'init') && phase !== 'off') {\n        powerMsg = {payload: 'ON'};\n        dimmerMsg = {payload: 20};\n        flow.set('m1_evening_dimmed', false);\n    }\n}\n\n// After sunset -> dim to 10 (once)\nif (sunState === 'below_horizon' && hour >= 12 && hour < 22 &&\n    !flow.get('m1_evening_dimmed') && phase !== 'off') {\n    dimmerMsg = {payload: 10};\n    flow.set('m1_evening_dimmed', true);\n}\n\n// --- Display text ---\nvar displayText = null;\nswitch (phase) {\n    case 'morning':\n        if (yesterdayKwh < 10) {\n            displayText = yesterdayKwh.toFixed(1) + 'kW';\n        } else if (yesterdayKwh < 100) {\n            displayText = yesterdayKwh.toFixed(1) + 'k';\n        } else {\n            displayText = Math.round(yesterdayKwh) + 'k';\n        }\n        break;\n    case 'producing':\n        if (watts < 10000) {\n            displayText = Math.round(watts) + 'W';\n        } else {\n            displayText = Math.round(watts / 1000) + 'kW';\n        }\n        break;\n    case 'idle':\n        if (dailyKwh < 10) {\n            displayText = dailyKwh.toFixed(1) + 'kW';\n        } else if (dailyKwh < 100) {\n            displayText = dailyKwh.toFixed(1) + 'k';\n        } else {\n            displayText = Math.round(dailyKwh) + 'k';\n        }\n        break;\n    case 'lifetime':\n        var totalKwh = flow.get('m1_lifetime_kwh') || 0;\n        if (totalKwh < 10) {\n            displayText = totalKwh.toFixed(1) + 'kW';\n        } else if (totalKwh < 1000) {\n            displayText = Math.round(totalKwh) + 'kW';\n        } else {\n            var mwh = totalKwh / 1000;\n            if (mwh < 10) {\n                displayText = mwh.toFixed(2) + 'M';\n            } else if (mwh < 100) {\n                displayText = mwh.toFixed(1) + 'M';\n            } else {\n                displayText = Math.round(mwh) + 'M';\n            }\n        }\n        break;\n}\n\n// Dedup\nvar lastText = flow.get('m1_last_text') || '';\nvar textMsg = null;\nif (displayText && displayText !== lastText) {\n    textMsg = {payload: displayText};\n    flow.set('m1_last_text', displayText);\n}\n\nflow.set('m1_phase', phase);\n\nvar fills = {producing:'green', morning:'yellow', idle:'blue', lifetime:'purple'};\nnode.status({\n    fill: fills[phase] || 'grey',\n    shape: 'dot',\n    text: phase + ': ' + (displayText || 'aus') + ' (' + watts + 'W)'\n});\n\nreturn [textMsg, dimmerMsg, powerMsg];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('m1_phase', 'init');\nflow.set('m1_last_text', '');\nflow.set('m1_evening_dimmed', false);\nflow.set('m1_pv_watts', 0);\nflow.set('m1_daily_kwh', 0);\nflow.set('m1_yesterday_kwh', 0);\nflow.set('m1_lifetime_kwh', 0);",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 440,
    "wires": [
      [
        "m1_mqtt_display",
        "m1_debug"
      ],
      [
        "m1_mqtt_dimmer"
      ],
      [
        "m1_mqtt_power"
      ]
    ]
  },
  {
    "id": "m1_mqtt_dimmer",
    "type": "mqtt out",
    "z": "tab_matrix1",
    "name": "cmnd/Matrix1/DisplayDimmer",
    "topic": "cmnd/Matrix1/DisplayDimmer",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_nuc",
    "x": 490,
    "y": 740,
    "wires": []
  },
  {
    "id": "m1_mqtt_display",
    "type": "mqtt out",
    "z": "tab_matrix1",
    "name": "cmnd/Matrix1/DisplayText",
    "topic": "cmnd/Matrix1/DisplayText",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_nuc",
    "x": 810,
    "y": 420,
    "wires": []
  },
  {
    "id": "m1_debug",
    "type": "debug",
    "z": "tab_matrix1",
    "name": "Matrix1 Debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 800,
    "y": 480,
    "wires": []
  },
  {
    "id": "m1_sun_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sun.sun",
    "server": "80ef547.fe1b7a8",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sun.sun"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "attributes",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 170,
    "y": 340,
    "wires": [
      [
        "m1_store_sun"
      ]
    ]
  },
  {
    "id": "m1_store_sun",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere Sonnenstand",
    "func": "// Sun state\nflow.set('m1_sun_state', msg.payload);\n\n// Extract sunrise/sunset from attributes\nvar attrs;\nif (msg.attributes && msg.attributes.new_state && msg.attributes.new_state.attributes) {\n    attrs = msg.attributes.new_state.attributes;\n} else if (msg.data && msg.data.new_state && msg.data.new_state.attributes) {\n    attrs = msg.data.new_state.attributes;\n}\n\nif (attrs) {\n    if (attrs.next_rising) {\n        flow.set('m1_next_rising', attrs.next_rising);\n    }\n    if (attrs.next_setting) {\n        flow.set('m1_next_setting', attrs.next_setting);\n    }\n    var sr = attrs.next_rising ? new Date(attrs.next_rising) : null;\n    var ss = attrs.next_setting ? new Date(attrs.next_setting) : null;\n    var srStr = sr ? String(sr.getHours()).padStart(2,'0') + ':' + String(sr.getMinutes()).padStart(2,'0') : '?';\n    var ssStr = ss ? String(ss.getHours()).padStart(2,'0') + ':' + String(ss.getMinutes()).padStart(2,'0') : '?';\n    node.status({text: msg.payload + ' | rise:' + srStr + ' set:' + ssStr});\n}",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": []
  },
  {
    "id": "m1_mqtt_power",
    "type": "mqtt out",
    "z": "tab_matrix1",
    "name": "cmnd/Matrix1/Power",
    "topic": "cmnd/Matrix1/Power",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_nuc",
    "x": 800,
    "y": 500,
    "wires": []
  },
  {
    "id": "m1_total_watch",
    "type": "server-state-changed",
    "z": "tab_matrix1",
    "name": "sensor.pv_energie_gesamt",
    "server": "80ef547.fe1b7a8",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "sensor.pv_energie_gesamt"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 190,
    "y": 320,
    "wires": [
      [
        "m1_store_total"
      ]
    ]
  },
  {
    "id": "m1_store_total",
    "type": "function",
    "z": "tab_matrix1",
    "name": "Speichere Lebensleistung",
    "func": "flow.set('m1_lifetime_kwh', parseFloat(msg.payload) || 0);",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 320,
    "wires": []
  },
  {
    "id": "80ef547.fe1b7a8",
    "type": "server",
    "name": "Home Assistant"
  },
  {
    "id": "mqtt_nuc",
    "type": "mqtt-broker",
    "name": "Mosquitto NUC-HA",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-wifibuttons",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true
  }
]